Ver 0.2 Node-red flow
[{"id":"334d1826.ccec08","type":"tab","label":"Mapping","disabled":false,"info":""},{"id":"ea21ee72.12b83","type":"tab","label":"Raspberry monitoring","disabled":false,"info":""},{"id":"f7ce205d.4da6e","type":"tab","label":"Start","disabled":false,"info":""},{"id":"7515ead2.7f3e74","type":"tab","label":"Polar Speed","disabled":false,"info":""},{"id":"b48968fd.25e848","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f79d91c.352be7","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Sailing Computer","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"114632d7.43321d","type":"ui_tab","z":"","name":"Status","icon":"dashboard","disabled":false,"hidden":false},{"id":"e94039ef.167a38","type":"ui_spacer","name":"spacer","group":"ff838880.f77c28","order":19,"width":4,"height":1},{"id":"56b8915e.27142","type":"ui_spacer","name":"spacer","group":"","order":20,"width":4,"height":1},{"id":"ff838880.f77c28","type":"ui_group","z":"","name":"Mapping","tab":"114632d7.43321d","order":1,"disp":true,"width":"12","collapse":false},{"id":"a4713a1a.f07d88","type":"ui_group","z":"","name":"System","tab":"96f7c5f.5acf538","order":1,"disp":true,"width":"6","collapse":false},{"id":"40497365.b786cc","type":"ui_group","z":"","name":"OS","tab":"96f7c5f.5acf538","order":5,"disp":true,"width":"6","collapse":false},{"id":"96f7c5f.5acf538","type":"ui_tab","z":"ea21ee72.12b83","name":"Raspbery PI (Control Panel)","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"8585d999.c25e88","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"14a39131.7e41af","type":"ui_group","z":"","name":"Timer","tab":"2af37d78.800712","order":1,"disp":true,"width":"6","collapse":false},{"id":"2af37d78.800712","type":"ui_tab","z":"","name":"Start","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"1181ca60.90f0a6","type":"ui_group","z":"","name":"Clock 2","tab":"2af37d78.800712","order":2,"disp":true,"width":"6","collapse":false},{"id":"4aa472e4.630c6c","type":"ui_group","z":"","name":"Map Setup","tab":"114632d7.43321d","order":2,"disp":true,"width":"6","collapse":false},{"id":"c0c6f538.05f918","type":"ui_tab","z":"","name":"Polar","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"2a6ad140.e5bc4e","type":"ui_group","z":"","name":"Table","tab":"c0c6f538.05f918","order":1,"disp":true,"width":10,"collapse":false},{"id":"c8c77245.0d7f6","type":"ui_group","z":"","name":"Speed","tab":"c0c6f538.05f918","order":2,"disp":true,"width":"6","collapse":false},{"id":"8872d4d6.359a88","type":"ui_group","z":"","name":"test","tab":"2af37d78.800712","order":3,"disp":true,"width":"6","collapse":false},{"id":"2625201a.0e1fd","type":"ui_spacer","name":"spacer","group":"2a6ad140.e5bc4e","order":3,"width":4,"height":1},{"id":"ffd84af6.61fe58","type":"ui_spacer","name":"spacer","group":"2a6ad140.e5bc4e","order":4,"width":4,"height":1},{"id":"31038dd2.cc1462","type":"ui_spacer","name":"spacer","group":"2a6ad140.e5bc4e","order":5,"width":4,"height":1},{"id":"a592e0d6.ecee4","type":"ui_spacer","name":"spacer","group":"2a6ad140.e5bc4e","order":6,"width":4,"height":1},{"id":"4e0669b5.e09738","type":"ui_spacer","name":"spacer","group":"2a6ad140.e5bc4e","order":7,"width":4,"height":1},{"id":"4408d15f.f452f","type":"ui_spacer","name":"spacer","group":"2a6ad140.e5bc4e","order":8,"width":4,"height":1},{"id":"f3ff7bf3.ef8c98","type":"ui_spacer","name":"spacer","group":"2a6ad140.e5bc4e","order":9,"width":10,"height":1},{"id":"33d92f09.29e39","type":"ui_spacer","name":"spacer","group":"c8c77245.0d7f6","order":2,"width":2,"height":1},{"id":"fedfb07d.f4298","type":"ui_spacer","name":"spacer","group":"c8c77245.0d7f6","order":3,"width":2,"height":1},{"id":"7fcca766.14f0a8","type":"ui_spacer","name":"spacer","group":"c8c77245.0d7f6","order":4,"width":2,"height":1},{"id":"ed16fad8.1e43a8","type":"ui_spacer","name":"spacer","group":"c8c77245.0d7f6","order":5,"width":2,"height":1},{"id":"9aa61a1c.ee1f58","type":"ui_tab","z":"","name":"GO","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"cd39ac02.7f4f","type":"ui_group","z":"","name":"Speed","tab":"9aa61a1c.ee1f58","order":1,"disp":true,"width":"6","collapse":false},{"id":"e32981ff.eb2e6","type":"ui_group","z":"","name":"Heading","tab":"9aa61a1c.ee1f58","order":2,"disp":true,"width":"6","collapse":false},{"id":"a8f33373.9e35","type":"ui_group","z":"","name":"Tack","tab":"9aa61a1c.ee1f58","order":3,"disp":true,"width":"6","collapse":false},{"id":"cdd582be.51572","type":"function","z":"334d1826.ccec08","name":"Move map set scale","func":"msg.payload = { \"command\": { \"layer\":\"OSM\", \"lat\":30.6606, \"lon\":-95.1241, \"zoom\":13.25 }};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["a142e56.a478918"]]},{"id":"a142e56.a478918","type":"worldmap","z":"334d1826.ccec08","name":"","lat":"30.6625","lon":"-95.0595","zoom":"9","cluster":"","maxage":"","hiderightclick":"false","coords":"deg","path":"","x":690,"y":60,"wires":[]},{"id":"864d1883.9361f8","type":"function","z":"334d1826.ccec08","name":"Start","func":"   msg.payload = { \"name\":\"Start\",\"layer\":\"OSM\", \"lat\":30.6494444, \"lon\":-95.11416666666666\n  }\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":20,"wires":[["a142e56.a478918"]]},{"id":"efff74c7.5c08b8","type":"ui_gauge","z":"ea21ee72.12b83","name":"","group":"a4713a1a.f07d88","order":1,"width":"3","height":"3","gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"60","x":683,"y":33,"wires":[]},{"id":"6d4dcc0a.91db84","type":"exec","z":"ea21ee72.12b83","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":325.2221908569336,"y":46.33333683013916,"wires":[["bdd7533d.c222c"],[],[]]},{"id":"4e257399.e0eeac","type":"inject","z":"ea21ee72.12b83","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":"","x":107.49996185302734,"y":46.805556297302246,"wires":[["6d4dcc0a.91db84","92c95d1f.6e4e","14e5a684.129bd9"]]},{"id":"bdd7533d.c222c","type":"function","z":"ea21ee72.12b83","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":471.888858795166,"y":33.00000190734863,"wires":[["efff74c7.5c08b8","c7bf11c5.4aa45","505a73cd.44b39c"]]},{"id":"b7f01888.4c93d8","type":"ui_button","z":"ea21ee72.12b83","name":"","group":"40497365.b786cc","order":1,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":114.66669464111328,"y":330.0000696182251,"wires":[["db0e13a2.77ac4"]]},{"id":"db0e13a2.77ac4","type":"exec","z":"ea21ee72.12b83","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":314.888916015625,"y":330.0000457763672,"wires":[[],[],[]]},{"id":"ffc0fb26.7dcb88","type":"ui_button","z":"ea21ee72.12b83","name":"","group":"40497365.b786cc","order":2,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":104.27777099609375,"y":386.47229862213135,"wires":[["daf6c9fc.956f78"]]},{"id":"daf6c9fc.956f78","type":"exec","z":"ea21ee72.12b83","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":324.1666564941406,"y":386.6944923400879,"wires":[[],[],[]]},{"id":"c7bf11c5.4aa45","type":"ui_chart","z":"ea21ee72.12b83","name":"","group":"a4713a1a.f07d88","order":5,"width":"6","height":"4","label":"CPU Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":683.9999389648438,"y":72.66667175292969,"wires":[[]]},{"id":"92c95d1f.6e4e","type":"exec","z":"ea21ee72.12b83","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":325.2221908569336,"y":126.33333683013916,"wires":[["fb2124fa.2017b8"],[],[]]},{"id":"14e5a684.129bd9","type":"exec","z":"ea21ee72.12b83","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":325.2222099304199,"y":190.55557250976562,"wires":[["9a90a4eb.0e11e8"],[],[]]},{"id":"fb2124fa.2017b8","type":"ui_gauge","z":"ea21ee72.12b83","name":"","group":"a4713a1a.f07d88","order":4,"width":"3","height":"3","gtype":"gage","title":"CPU","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":645.111083984375,"y":114.11111450195312,"wires":[]},{"id":"9a90a4eb.0e11e8","type":"ui_gauge","z":"ea21ee72.12b83","name":"","group":"a4713a1a.f07d88","order":2,"width":"3","height":"3","gtype":"gage","title":"Memory free","label":"%","format":"{{parseInt(value)}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":663.3333320617676,"y":176.55556392669678,"wires":[]},{"id":"1cbb52fa.f908cd","type":"exec","z":"ea21ee72.12b83","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":322.88884353637695,"y":258.2222442626953,"wires":[["a600eeed.f570b"],[],[]]},{"id":"cc766c94.ef3cb","type":"ui_gauge","z":"ea21ee72.12b83","name":"","group":"a4713a1a.f07d88","order":3,"width":"3","height":"3","gtype":"gage","title":"Disk Space","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":661.1110496520996,"y":244.88890743255615,"wires":[]},{"id":"a600eeed.f570b","type":"function","z":"ea21ee72.12b83","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":470.66661071777344,"y":244.88890171051025,"wires":[["cc766c94.ef3cb"]]},{"id":"ee039108.fc493","type":"inject","z":"ea21ee72.12b83","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":122.88884353637695,"y":258.2222442626953,"wires":[["1cbb52fa.f908cd"]]},{"id":"66c409d.d7ca3f8","type":"ui_text","z":"ea21ee72.12b83","group":"40497365.b786cc","order":2,"width":"6","height":"2","name":"","label":"IP Address","format":"{{value.substring(0, value.indexOf(\" \"))}}","layout":"col-center","x":550,"y":440,"wires":[]},{"id":"ef62780e.2c58d8","type":"inject","z":"ea21ee72.12b83","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"","x":118.90821075439453,"y":445.567081451416,"wires":[["ce60ce4f.0ea3f"]]},{"id":"ce60ce4f.0ea3f","type":"exec","z":"ea21ee72.12b83","command":"hostname","addpay":false,"append":"-I","useSpawn":"","timer":"","name":"Get Local IP","x":323.4637641906738,"y":446.06709480285645,"wires":[["66c409d.d7ca3f8"],[],[]]},{"id":"df5c0214.78192","type":"function","z":"ea21ee72.12b83","name":"temperature","func":"var o = msg.payload;\nmsg.payload = o.temperature;\nreturn msg;","outputs":"1","noerr":0,"x":323.7500114440918,"y":545.7499990463257,"wires":[["3de07cec.73fd84"]]},{"id":"6909ec9.cec0814","type":"function","z":"ea21ee72.12b83","name":"time","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":500,"wires":[["38862877.1c1638"]]},{"id":"38862877.1c1638","type":"ui_text","z":"ea21ee72.12b83","group":"40497365.b786cc","order":1,"width":"6","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":630,"y":500,"wires":[]},{"id":"4a1224e8.bf087c","type":"inject","z":"ea21ee72.12b83","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":130,"y":480,"wires":[["6909ec9.cec0814"]]},{"id":"2f992276.d8411e","type":"serial in","z":"334d1826.ccec08","name":"Ublox GPS","serial":"8585d999.c25e88","x":90,"y":320,"wires":[["f1c3fd1b.4087","c3382ee3.178d2"]]},{"id":"26825951.b8f366","type":"comment","z":"f7ce205d.4da6e","name":"5 minute Timer Minutes","info":"","x":97.50003814697266,"y":60.750017166137695,"wires":[]},{"id":"f68b0bff.2a5da8","type":"comment","z":"f7ce205d.4da6e","name":"Set Clock Face","info":"","x":71.5,"y":471.7500171661377,"wires":[]},{"id":"a10530e2.770fb","type":"ui_switch","z":"f7ce205d.4da6e","name":"green","label":"Green","tooltip":"","group":"1181ca60.90f0a6","order":9,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"blackOnGreen","onvalueType":"str","onicon":"","oncolor":"","offvalue":"blackOnWhite","offvalueType":"str","officon":"","offcolor":"","x":70,"y":760,"wires":[["10caccd7.71af23"]]},{"id":"7a31f45c.05975c","type":"ui_switch","z":"f7ce205d.4da6e","name":"blue","label":"Blue","tooltip":"","group":"1181ca60.90f0a6","order":10,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"blackOnBlue","onvalueType":"str","onicon":"","oncolor":"","offvalue":"blackOnWhite","offvalueType":"str","officon":"","offcolor":"","x":70,"y":800,"wires":[["10caccd7.71af23"]]},{"id":"d9503604.efee38","type":"debug","z":"f7ce205d.4da6e","name":"toSwitchTimer","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":936,"y":709.3500232696533,"wires":[]},{"id":"c2e658c3.4cafd8","type":"debug","z":"f7ce205d.4da6e","name":"ticks","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":907.7000122070312,"y":752.5500049591064,"wires":[]},{"id":"e16d3ee7.0d5ee","type":"function","z":"f7ce205d.4da6e","name":"","func":"msg.payload = \"off\";\nflow.set(\"timerActive\", \"notActive\")\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1240,"wires":[["1081af48.53ca71"]]},{"id":"525eee3b.53b41","type":"switch","z":"f7ce205d.4da6e","name":"","property":"timerActive","propertyType":"flow","rules":[{"t":"eq","v":"notActive","vt":"str"},{"t":"eq","v":"Active","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1220,"wires":[["a0c14e19.18503"],["e16d3ee7.0d5ee"]]},{"id":"1081af48.53ca71","type":"mytimeout","z":"f7ce205d.4da6e","name":"","outtopic":"","outsafe":"on","outwarning":"Warning","outunsafe":"off","warning":"5","timer":"30","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":750,"y":1260,"wires":[[],["cebee9a4.f86d18","cd60bf46.70ff2"]]},{"id":"bc1c3ffd.caa39","type":"function","z":"f7ce205d.4da6e","name":"START/STOP","func":"if (!flow.get(\"timerActive\")) {\n    flow.set(\"timerActive\", \"notActive\");\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1280,"wires":[["525eee3b.53b41"]]},{"id":"a0c14e19.18503","type":"function","z":"f7ce205d.4da6e","name":"","func":"var raw = {};\nraw.payload = \"on\";\nraw.timeout = flow.get(\"timer\");\nraw.warning = 30;\n\nmsg = raw\nflow.set(\"timerActive\", \"Active\");\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1200,"wires":[["1081af48.53ca71"]]},{"id":"cebee9a4.f86d18","type":"change","z":"f7ce205d.4da6e","name":"","rules":[{"t":"set","p":"int","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":1300,"wires":[[]]},{"id":"cd60bf46.70ff2","type":"function","z":"f7ce205d.4da6e","name":"Done notification","func":"if (msg.flag == \"off\") {\n    msg.payload = \"The timer is done\"\n    return msg;\n}","outputs":1,"noerr":0,"x":950,"y":1340,"wires":[[]]},{"id":"4108f686.6c3a78","type":"switch","z":"f7ce205d.4da6e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"rotate","vt":"str"},{"t":"eq","v":"press","vt":"str"},{"t":"eq","v":"swipe","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":230,"y":1240,"wires":[["9367fe34.45ee9"],["bc1c3ffd.caa39"],["846ab3b9.98a3f"]]},{"id":"cb83e690.0c4ee8","type":"function","z":"f7ce205d.4da6e","name":"","func":"context.set(\"hicount\", 0);\ncontext.set(\"lowcount\", 0);\nflow.set(\"timer\", 0);\nmsg.payload = \"cancel\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1340,"wires":[[]]},{"id":"9367fe34.45ee9","type":"function","z":"f7ce205d.4da6e","name":"Set timer value","func":"var lowCount = context.get(\"lowcount\")||0;\nvar hiCount = context.get(\"hicount\")||0;\nvar timer = flow.get(\"timer\")||0;\n\n    if (msg.amount > 20 && msg.amount < 200) {\n        lowCount += 1;\n        context.set(\"lowcount\", lowCount);\n    } else if (msg.amount >= 200) {\n        hiCount += 10;\n        context.set(\"hicount\", hiCount);\n    } else if (msg.amount < -20 && msg.amount > -200) {\n        lowCount -= 1;\n        context.set(\"lowcount\", lowCount);\n    } else if (msg.amount <= -200) {\n        hiCount -= 10;\n        context.set(\"hicount\", hiCount);\n    }\n    if (lowCount >= 3) {\n        if (timer <= 98) {\n        timer += 1;\n        } else {\n         timer = 99;\n        }\n        context.set(\"lowcount\", 0);\n        flow.set(\"timer\", timer)\n        msg.int = timer;\n    } else if (lowCount <= -3) {\n        if (timer >= 1) {\n        timer -= 1;\n        } else {\n         timer = 0;\n        }\n        context.set(\"lowcount\", 0);\n        flow.set(\"timer\", timer)\n        msg.int = timer;\n    }\n    if (hiCount >= 30) {\n        if (timer <= 89) {\n        timer += 10;\n        } else {\n         timer = 99;\n        }\n        context.set(\"hicount\", 0);\n        flow.set(\"timer\", timer)\n        msg.int = timer;\n    } else if (hiCount <= -30) {\n        if (timer >= 10) {\n        timer -= 10;\n        } else {\n         timer = 0;\n        }\n        context.set(\"hicount\", 0);\n        flow.set(\"timer\", timer)\n        msg.int = timer;\n    }\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1140,"wires":[[]]},{"id":"846ab3b9.98a3f","type":"switch","z":"f7ce205d.4da6e","name":"RESET/CHANGE MODE","property":"direction","propertyType":"msg","rules":[{"t":"eq","v":"DOWN","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"LEFT","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":1380,"wires":[["cb83e690.0c4ee8"],[],[]]},{"id":"9b02f718.845f68","type":"inject","z":"f7ce205d.4da6e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":1240,"wires":[["4108f686.6c3a78"]]},{"id":"b8aa6f4f.cb9e8","type":"ui_template","z":"f7ce205d.4da6e","group":"1181ca60.90f0a6","name":"Time and Temp","order":1,"width":6,"height":2,"format":"<script>\n    var icon=\"T\";\n\n        \n    var colours={\n    \"blackOnGreen\" : {items:[\"#222\",\"#66ac66\"]},\n    \"blackOnBlue\" : {items:[\"#222\",\"#8888ff\"]},\n    \"blackOnWhite\" : {items:[\"#222\",\"#aaaaaa\"]},\n    }  \n    \n    var daylist = [\"sun\", \"mon\", \"tue\", \"wed\", \"thu\", \"fri\", \"sat\"];\n    (function(scope){ \n            scope.$watch('msg', function(msg) {\n               if (typeof(msg.type) != \"undefined\") icon=msg.type;\n    \n               if (icon==\"t\")\n                    {\n                        $(\"#DSEGWEATHER-BACK\").text(\" \");\n                        $(\"#DSEGWEATHER-ICON\").text(\" \");\n                        $(\"#DSEGTempcF\").text(\"C\");\n                        $(\"#DSEGTempcB\").text(\"8\");                        \n                        if (typeof(msg.payload) != \"undefined\") { $(\"#DSEGTempF\").text(msg.payload);  $(\"#DSEGTempB\").text(\"88\"); }\n                    }\n                else\n                    {\n                        $(\"#DSEGTempF\").text(\"\");\n                        $(\"#DSEGTempcF\").text(\"\");\n                        $(\"#DSEGTempB\").text(\"\");\n                        $(\"#DSEGTempcB\").text(\"\");\n                        $(\"#DSEGWEATHER-BACK\").text(\"0\");\n                        if (typeof(msg.payload) != \"undefined\") $(\"#DSEGWEATHER-ICON\").text(msg.payload);\n                        \n                    }\n               if (typeof(msg.colour) != \"undefined\") {\n                              $(\".Clock-Wrapper\").css('background-color', colours[msg.colour].items[1]);  $(\".lcdClock\").css('color', colours[msg.colour].items[0]); \n                              if (colours[msg.colour].items[1]==\"#000000\") $(\".background\").css('color',\"rgba(255,255,255,0.15)\"); else  $(\".background\").css('color',\"rgba(0,0,0,0.1)\");\n                        }\n            });\n    })(scope);\n\n    function genTimerStrings(tm, num){\n    \n    \tvar i;\n    \tvar ret = tm.toString(10);\n    \tvar left = ret.length;\n    \n    \tif( left < num){\n    \t\tfor(i=0; i<( num - left ); i++ ){\n    \t\t\tret = String(0) + ret;\n    \t\t}\n    \t}\n    \treturn ret;\n    }\n\n    function updateTimer(){\n    \tvar ret;\n    \tvar date = new Date();\n    \tvar tm_year, tm_mon, tm_date, tm_hour, tm_min, tm_sec, tm_msec,tm_day;\n    \tvar colon;\n    \ttm_year = date.getFullYear();\n    \ttm_mon = date.getMonth()+1;\n    \ttm_date = date.getDate();\n    \ttm_day = date.getDay();\n    \ttm_hour = date.getHours();\n    \ttm_min = date.getMinutes();\n    \ttm_sec = date.getSeconds();\n    \ttm_msec = date.getMilliseconds();\n    \n    \ttm_mon = genTimerStrings(tm_mon, 2);\n    \ttm_date = genTimerStrings(tm_date, 2);\n    \ttm_hour = genTimerStrings(tm_hour, 2);\n    \ttm_min = genTimerStrings(tm_min, 2);\n    \ttm_sec = genTimerStrings(tm_sec, 2);\n    \ttm_day = daylist[tm_day];\n    \n    \tif( tm_msec > 499 ){\n    \t\tcolon = ' ';\n    \t}else{\n    \t\tcolon = ':';\n    \t}\n    \n    \tdocument.getElementById(\"DSEGClock\").innerHTML = tm_hour + colon + tm_min + \"<span style=\\\"font-size:30px;\\\">\"  + tm_sec + \"</span>\";\n    \tdocument.getElementById(\"DSEGClock-Year\").innerHTML = \"<span class=\\\"D7MI\\\">\" + tm_year + \"-\" + tm_mon + \"-\" + tm_date + ' ' + \"</span><span class=\\\"D14MI\\\">\" + tm_day  +  \".\" + \"</span>\";\n    \n    \tsetTimeout(\"updateTimer()\", 500 - date.getMilliseconds()%500 );\n    }\n\n    updateTimer();\n    \n</script>\n\n<style type=\"text/css\">\n.lcdClock {\n\tbackground-color:#fbfbfb;\n\tfont-size:100%;\n\tpadding-left:10px;\n\tpadding-right:10px;\n\tpadding-bottom:10px;\n\tmax-width:300px;\n\tline-height:160%;\n\tcolor:#222;\n\tfont-family:Meiryo, 'Lucida Grande','Hiragino Kaku Gothic ProN', sans-serif;\n}\n\n@font-face {\n  font-family: \"D7MI\";\n  src: url(\"/myfonts/DSEG7Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D14MI\";\n  src: url(\"/myfonts/DSEG14Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D7MBI\";\n  src: url(\"/myfonts/DSEG7Modern-BoldItalic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"DWEATHER\";\n  src: url(\"/myfonts/DSEGWeather.woff\") format('woff');\n}\n\n.Weather-Background{\n\tz-index:50;\n\tposition:absolute;\n\ttop:24px;\n\tleft:226px;\n\tfont-size:68px;\n}\n\n.Weather-Front{\n\tz-index:51;\n\tposition:absolute;\n\ttop:24px;\n\tleft:226px;\n\tfont-size:68px;\n}\n\n.D7MI {\nfont-family: \"D7MI\";\n}\n\n.D7MBI {\nfont-family: \"D7MBI\";\n}\n\n.D14MI {\nfont-family: \"D14MI\";\n}\n\n.DWEATHER {\nfont-family: \"DWEATHER\";\nfont-size:68px;\nheight:68px;\n}\n\n.Clock-Wrapper{\n\tposition:relative;\n\tborder:6px solid #000;\n\tborder-radius:9px;\n\theight:68px;\n\twidth:280px;\n\tbackground-color:#fb7c00;\n\tbackground-color:#66ac66;\n\tbox-shadow: 4px 4px 28px 0px rgba(0,0,0,0.3) inset; \n}\n\n.Clock-Time-Background{\n\tz-index:50;\n}\n\n.Clock-Time-Front{\n\tz-index:51;\n}\n\n.Clock-Time-Background,.Clock-Time-Front {\n   \tposition:absolute;\n\ttop:38px;\n\tleft:5px; \n\tfont-size:42px;\n}\n\n.background { color:rgba(0,0,0,0.1); }\n\n.Clock-Year-Background{\n\tz-index:50;\n\tfont-size:18px;\n}\n\n.Clock-Year-Front{\n\tz-index:51;\n}\n\n.Clock-Year-Background,.Clock-Year-Front {\n   \tposition:absolute;\n\ttop:2px;\n\tleft:5px; \n\tfont-size:18px;\n}\n\n.temp { z-index:51; }\n.tempBack { z-index:50; color:rgba(0,0,0,0.1); }\n.temp,.tempBack {\n   \tposition:absolute;\n\ttop:28px;\n\tleft:210px; \n\tfont-size:42px;\n}\n\n.tempc { z-index:51; }\n.tempcBack { z-index:50;  }\n.tempc,.tempcBack {\n   \tposition:absolute;\n\ttop:36px;\n\tleft:278px; \n\tfont-size:24px;\n}\n\n#DSEG7_OUTPUT{\n\tfont-family: \"D7MI\";\n}\n\n#DSEG14_OUTPUT{\n\tfont-family: \"D14MI\";\n}\n\n#DSEG14_OUTPUT, #DSEG7_OUTPUT{\n\tfont-size:18px;\n\tmargin-top:2px;\n\tmargin-bottom:10px;\n}\n\n</style>\n\n\n<div class=\"Clock-Wrapper center lcdClock\">\n\t<span class=\"Clock-Time-Background background  D7MBI\">88:88<span style=\"font-size:30px;\">88</span></span>\n\t<span id=\"DSEGClock\" class=\"Clock-Time-Front D7MBI\"></span>\n\t<span class=\"Clock-Year-Background background\"><span class=\"D7MI\">2088-88-88</span><span class=\"D14MI\"> ~~~</span></span>\n\t<span id=\"DSEGClock-Year\" class=\"Clock-Year-Front\"></span>\n\t\n\t<span id=\"DSEGTempF\" class=\"temp D7MBI\">00</span>\n\t<span id=\"DSEGTempB\" class=\"tempBack background D7MBI\">88</span>\t\n\t<span id=\"DSEGTempcF\" class=\"tempc D7MI\">C</span>\n\t<span id=\"DSEGTempcB\" class=\"tempcBack background D7MI\">8</span>\n\t\n\t\n\t<span id=\"DSEGWEATHER-BACK\" class=\"Weather-Background background DWEATHER\"></span>\n\t<span id=\"DSEGWEATHER-ICON\" class=\"Weather-Front DWEATHER\"></span>\n\t\t\n</div>\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":680,"y":960,"wires":[[]]},{"id":"1b867a71.426136","type":"inject","z":"f7ce205d.4da6e","name":"21c","topic":"","payload":"21","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":70,"y":540,"wires":[["b8aa6f4f.cb9e8"]]},{"id":"600db786.e3d898","type":"inject","z":"f7ce205d.4da6e","name":"32c","topic":"","payload":"32","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":70,"y":580,"wires":[["b8aa6f4f.cb9e8"]]},{"id":"10caccd7.71af23","type":"function","z":"f7ce205d.4da6e","name":"convert to payload","func":"msg.colour=msg.payload;\nmsg.payload=undefined;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":900,"wires":[["b8aa6f4f.cb9e8"]]},{"id":"264f98ad.eb6798","type":"inject","z":"f7ce205d.4da6e","name":"Type t for TEXT","topic":"","payload":"t","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":960,"wires":[["8e5a7057.5dffd"]]},{"id":"8363976c.4a4d18","type":"inject","z":"f7ce205d.4da6e","name":"Type w for weather","topic":"","payload":"w","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":1020,"wires":[["8e5a7057.5dffd"]]},{"id":"8e5a7057.5dffd","type":"function","z":"f7ce205d.4da6e","name":"","func":"msg.type=msg.payload;\nmsg.payload=undefined;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1000,"wires":[["b8aa6f4f.cb9e8"]]},{"id":"3f543a65.9c6386","type":"inject","z":"f7ce205d.4da6e","name":"weather 2","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":80,"y":619,"wires":[["b8aa6f4f.cb9e8"]]},{"id":"776c8d8d.4dd1d4","type":"inject","z":"f7ce205d.4da6e","name":"weather 3","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":80,"y":659,"wires":[["b8aa6f4f.cb9e8"]]},{"id":"3de07cec.73fd84","type":"debug","z":"ea21ee72.12b83","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":540,"wires":[]},{"id":"45d0201f.74184","type":"function","z":"f7ce205d.4da6e","name":"temperature","func":"var o = msg.payload;\nmsg.payload = o.temperature;\nreturn msg;","outputs":"1","noerr":0,"x":530,"y":800,"wires":[["170480df.52bbbf","b8aa6f4f.cb9e8"]]},{"id":"170480df.52bbbf","type":"debug","z":"f7ce205d.4da6e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":726.2499885559082,"y":754.2500009536743,"wires":[]},{"id":"f1c3fd1b.4087","type":"switch","z":"334d1826.ccec08","name":"route GPRMC, VTG from GPS","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"$GPRMC","vt":"str"},{"t":"cont","v":"$GPVTG","vt":"str"},{"t":"cont","v":"$GPWCV","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":340,"wires":[["c294be19.20eda"],["416e4165.d796b"],[]]},{"id":"3f26e54c.373fba","type":"debug","z":"334d1826.ccec08","name":"","active":false,"complete":"true","x":750,"y":220,"wires":[]},{"id":"c294be19.20eda","type":"function","z":"334d1826.ccec08","name":"convert GPRMC","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n//msg.payload.lat = msg.payload.latitude;\n//msg.payload.lon = msg.payload.longitude;\n//msg.payload.layer = \"earthquake\";\n//msg.payload.name = msg.payload.id;\n//msg.payload.icon = \"globe\";\n//msg.payload.iconColor = \"orange\";\n\n//delete msg.payload.latitude;\n//delete msg.payload.longitude;\t\n//return msg;\n\nvar RMC = msg.payload.split(',');\nvar t = RMC[3] // (DDMM.MMMM)\nvar g = RMC[5] //(DDDMM.MMMM)\n\nfunction lat(t){\n return (Number(t.slice(0,2)) + (Number(t.slice(2,9))/60))\n}\n\nfunction lng(g) {\nreturn (Number(g.slice(0,3)) + (Number(g.slice(3,10))/60))\n}\n\n//console.log(lat(t)) \n//console.log(lng(g))  \n\n//    msg.payload.class = RMC[0];\nmsg.payload = {\n    name : \"S2\",\n    utc : RMC[1],\n    lat : (lat(t)),\n\tns : RMC[4],\n    lon : (lng(g))*-1,\n\tew : RMC[6],\n    speed : RMC[7],\n    bearing : RMC[8],\n    iconColor : \"blue\",\n\ticon : \"ship\",\n    layer : \"OSM\",\n    popped : true\n//    label : true\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":280,"wires":[["a142e56.a478918"]]},{"id":"b7622e95.e8b42","type":"function","z":"334d1826.ccec08","name":"SC NE","func":"   msg.payload = { \"name\":\"SC NE\",\"layer\":\"OSM\", \"lat\":30.6552778, \"lon\":-95.08944444444444, icon:\"globe\"}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["a142e56.a478918"]]},{"id":"c5a43360.df8e4","type":"mytimeout","z":"f7ce205d.4da6e","name":"","outtopic":"5min","outsafe":"","outwarning":"Warning","outunsafe":"off","warning":"60","timer":"600","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":310,"y":140,"wires":[[],["56137cc3.a986d4","f2c89900.2ab2a8","562303e5.ea3f1c"]]},{"id":"f2c89900.2ab2a8","type":"ui_gauge","z":"f7ce205d.4da6e","name":"","group":"14a39131.7e41af","order":4,"width":0,"height":0,"gtype":"gage","title":"5 minute timer","label":"seconds","format":"{{value}}","min":0,"max":"600","colors":["#b50016","#e6e600","#3eca38"],"seg1":"60","seg2":"120","x":540,"y":100,"wires":[],"inputLabels":["5min"]},{"id":"56137cc3.a986d4","type":"ui_text","z":"f7ce205d.4da6e","group":"14a39131.7e41af","order":6,"width":0,"height":0,"name":"","label":"Final Minute","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":160,"wires":[]},{"id":"a5f1c602.aef1a8","type":"ui_button","z":"f7ce205d.4da6e","name":"","group":"14a39131.7e41af","order":8,"width":0,"height":0,"passthru":false,"label":"Timer 5 minutes","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"num","topic":"","x":100,"y":140,"wires":[["c5a43360.df8e4"]]},{"id":"416e4165.d796b","type":"function","z":"334d1826.ccec08","name":"convert speed direction","func":"// Converts speed and puts on worldmap\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n\n\nvar VTG = msg.payload.split(',');\n\n//    msg.payload.class = RMC[0];\nmsg.payload = {\n    //name : \"S2\",\n    bearing : VTG[1],\n    speed : VTG[5],\n    //iconColor : \"blue\",\n\t//icon : \"ship\",\n    //layer : \"OSM\",\n    //popped: true,\n    //label : true\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":340,"wires":[["3d89cf4f.791ad","3f26e54c.373fba"]]},{"id":"918600ea.a265a","type":"openweathermap in","z":"334d1826.ccec08","name":"coldspring","wtype":"current","lon":"","lat":"","city":"coldspring","country":"USA","language":"en","x":120,"y":600,"wires":[["daca9bb.7b54168"]]},{"id":"daca9bb.7b54168","type":"change","z":"334d1826.ccec08","name":"","rules":[{"t":"set","p":"payload.speed","pt":"msg","to":"payload.windspeed","tot":"msg"},{"t":"set","p":"payload.degrees","pt":"msg","to":"payload.winddirection","tot":"msg"},{"t":"set","p":"payload.speed_unit","pt":"msg","to":"payload.location","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":600,"wires":[["e22900f1.603eb"]]},{"id":"ab1bd66e.b74678","type":"openweathermap in","z":"334d1826.ccec08","name":"Onalaska","wtype":"current","lon":"","lat":"","city":"onalaska","country":"USA","language":"en","x":120,"y":700,"wires":[["837f0e4c.0cc6c"]]},{"id":"837f0e4c.0cc6c","type":"change","z":"334d1826.ccec08","name":"","rules":[{"t":"set","p":"payload.speed","pt":"msg","to":"payload.windspeed","tot":"msg"},{"t":"set","p":"payload.degrees","pt":"msg","to":"payload.winddirection","tot":"msg"},{"t":"set","p":"payload.speed_unit","pt":"msg","to":"payload.location","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":700,"wires":[["5cec77be.ec0b08"]]},{"id":"dd7233ea.508d8","type":"openweathermap in","z":"334d1826.ccec08","name":"West Livingston","wtype":"current","lon":"","lat":"","city":"West Livingston","country":"USA","language":"en","x":140,"y":800,"wires":[["bc32edc4.c3cbb"]]},{"id":"bc32edc4.c3cbb","type":"change","z":"334d1826.ccec08","name":"","rules":[{"t":"set","p":"payload.speed","pt":"msg","to":"payload.windspeed","tot":"msg"},{"t":"set","p":"payload.degrees","pt":"msg","to":"payload.winddirection","tot":"msg"},{"t":"set","p":"payload.speed_unit","pt":"msg","to":"payload.location","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":800,"wires":[["82b5a079.5e5ae"]]},{"id":"8c165bdb.215498","type":"ui_switch","z":"f7ce205d.4da6e","name":"blue","label":"White","tooltip":"","group":"1181ca60.90f0a6","order":10,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"blackOnWhite","onvalueType":"str","onicon":"","oncolor":"","offvalue":"blackOnWhite","offvalueType":"str","officon":"","offcolor":"","x":70,"y":840,"wires":[["10caccd7.71af23"]]},{"id":"7d85649b.c60ffc","type":"ui_button","z":"334d1826.ccec08","name":"","group":"4aa472e4.630c6c","order":7,"width":0,"height":0,"passthru":false,"label":"Add SC","tooltip":"","color":"","bgcolor":"","icon":"","payload":"go","payloadType":"str","topic":"","x":130,"y":40,"wires":[["864d1883.9361f8","b7622e95.e8b42","8e46a305.2b1a7"]]},{"id":"719f7100.a6cdb","type":"ui_button","z":"334d1826.ccec08","name":"","group":"4aa472e4.630c6c","order":7,"width":0,"height":0,"passthru":false,"label":"Livingston","tooltip":"","color":"","bgcolor":"","icon":"","payload":"go","payloadType":"str","topic":"","x":90,"y":280,"wires":[["cdd582be.51572"]]},{"id":"8e46a305.2b1a7","type":"function","z":"334d1826.ccec08","name":"SC SE","func":"   msg.payload = { \"Reach\":\"SC SE\",\"layer\":\"OSM\", \"lat\":30.65, \"lon\":-95.09722222222221, icon:\"globe\"}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["a142e56.a478918"]]},{"id":"5a754d4b.ff4bb4","type":"http request","z":"334d1826.ccec08","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"waterservices.usgs.gov/nwis/iv/?format=json&sites=08066190&parameterCd=00035,00036&siteStatus=all","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":880,"wires":[["fb693322.5163e"]]},{"id":"303a2dc8.e318e2","type":"inject","z":"334d1826.ccec08","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":"","x":130,"y":880,"wires":[["5a754d4b.ff4bb4"]]},{"id":"fb693322.5163e","type":"change","z":"334d1826.ccec08","name":"","rules":[{"t":"set","p":"payload.speed","pt":"msg","to":"payload.value.timeSeries[0].values[0].value[0].value","tot":"msg"},{"t":"set","p":"payload.degrees","pt":"msg","to":"payload.value.timeSeries[1].values[0].value[0].value","tot":"msg"},{"t":"set","p":"payload.speed_unit","pt":"msg","to":"LV Dam","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":940,"wires":[["25f58df8.3274e2"]]},{"id":"61e14d56.028b04","type":"comment","z":"334d1826.ccec08","name":"Get lake windspeeds ","info":"","x":140,"y":560,"wires":[]},{"id":"e22900f1.603eb","type":"ui_template","z":"334d1826.ccec08","group":"ff838880.f77c28","name":"Wind2","order":1,"width":"4","height":"4","format":"<!--\npass msg.payload.degrees, msg.payload.speed, msg.payload.speed_unit\n-->\n<script>\n    // Watch the incoming message and convert the degrees to a human readable compass direction\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n            if(typeof(msg) === \"object\"){\n                // Convert the degrees to cardinal directions\n                var deg = msg.payload.degrees;\n                var dirs = [\"N\",\"NNE\",\"NE\",\"ENE\",\"E\",\"ESE\",\"SE\",\"SSE\",\"S\",\"SSW\",\"SW\",\"WSW\",\"W\",\"WNW\",\"NW\",\"NNW\",\"N\"];\n                var idx = Math.round(deg*(dirs.length-1)/360);\n                scope.direction = dirs[idx];\n                \n                \n                // Keep track of the highest speed value, giving it 40 as a rough starting point.\n                // Works okay for MPH and KTS, but KMH will show purple at a lower speed than the rest\n                scope.max_val = (msg.payload.speed > scope.max_val ? msg.payload.speed : 40);\n                \n                scope.p_speed = msg.payload.speed;\n                scope.p_max_val = scope.max_val;\n                var low_colors = [\n                    '#FFFFFF', // white\n                    '#d6f7ff', // light blue\n                    '#85ffd2', // blue green\n                    '#61ff6e' // green 10mph\n                    ];\n                var high_colors = [\n                    '#61ff6e', // green 10mph\n                    '#d5ff61', // green yellow\n                    '#fffc61', // yellow\n                    '#ffe561', // yellow orange 20mph\n                    '#ffcd61', // orange\n                    '#ffad61', // orange red\n                    '#ff7661', // red\n                    '#ff61dd', // red purple\n                    '#e261ff' // purple\n                ];\n                \n                if(msg.payload.speed <= 5){\n                    scope.color = low_colors[Math.round(msg.payload.speed*(low_colors.length-1)/10)];\n                }else{\n                    scope.color = high_colors[Math.round(msg.payload.speed*(high_colors.length-1) / scope.max_val)];\n                }\n                \n                //$(\".compass_container\").css(\"background-color\",scope.color);\n            }\n    \t});\n    })(scope);\n    \n    // Hacks to improve the layout and make it scale\n    $(document).ready(function(){\n        setTimeout(function () {\n            // Remove the auto scrolling from the parent node\n            $(\".compass_container\").parent().css(\"overflow\",\"hidden\");\n        \n            // Adjust the color to match the theme base color by looking up the toolbar header background color;\n            $(\".compass_container .triangle\").css(\"border-bottom-color\",$(\"md-toolbar\").css(\"background-color\"));\n        \n            // Scale the compass into the box that it's being rendered in\n            // This CSS hack helps make sure the line & font size scales appropriately\n            // Based on the node's grid size\n            $(\".compass_container\").each(function(k,v){\n                var scaleWidth = $(v).parent().width() / $(v).width();\n                var scaleHeight = $(v).parent().height() / $(v).height();\n        \n                var translateX = ($(v).width() - $(v).parent().width()) / 2;\n                var translateY = ($(v).height() - $(v).parent().height()) / 2;\n        \n                $(v).css(\"transform\",\"translate(-\"+translateX+\"px,-\"+translateY+\"px) scale(\"+scaleWidth+\",\"+scaleHeight+\") \");\n            });\n            \n            $(\".compass_container\").css(\"display\",\"block\"); // Unhide it now that it's resized\n        }, 1000);\n    });\n</script>\n<style>\n /*   @import url(https://fonts.googleapis.com/css?family=Dosis:200,400,500,600);\n   */  \n     .compass_container{\n        transition: 1s ease-in-out;\n        position: relative;\n        display: none;\n        width: 500px;\n        height: 500px;\n        border-radius: 100%;\n        font-family: 'Dosis';\n        font-size: 80px;\n        box-shadow: inset 0px 0px 0px 30px #777; \n        background-color: {{color}};\n     }\n     \n     .compass_container .compass_header{\n        font-weight: bold;\n        position: absolute;\n        text-align: center;\n        width: 100%;\n        font-size: 75%;\n        top: -15px\n     }\n     .compass_container .text_container{\n        height: 100%;\n        width: 100%;\n        padding: 0px;\n        display: block;\n        border-radius: 100%;\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n     }\n     \n     .compass_container .arrow{\n        transition: 1s ease-in-out;\n        width: 100%;\n        height: 100%;\n        display: block;\n        position: absolute;\n        top: 0;\n     }\n     \n     .compass_container .arrow .triangle{\n        width: 0;\n\t\theight: 0;\n\t\tborder-left: 45px solid transparent;\n\t\tborder-right: 45px solid transparent;\n\t\tborder-bottom: 90px solid black;\n\t\tposition: absolute;\n\t\ttop: -15px;\n\t\tleft: 50%;\n\t\tmargin-left: -45px;\n\t\tz-index: 99;\n     }\n</style>\n\n<div class=\"compass_container\" style=\"\">\n    <div class=\"compass_header\">N</div>\n  \n    <div class=\"nr-dashboard-text text_container\">\n\n        <div class=\"direction\" style=\"font-size: 100%\">{{msg.payload.degrees}}</div>\n  \n        <div style=\"flex-direction: row; font-weight: bold;\">\n            <span style=\"font-size: 100%\">{{msg.payload.speed}}</span>\n            <span style=\"font-size: 55%\">{{msg.payload.speed_unit}}</span>\n        </div>\n    </div>\n    <div class=\"arrow\" style=\"transform: rotate({{msg.payload.degrees}}deg);\">\n      <div class=\"triangle\"></div>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":570,"y":600,"wires":[[]]},{"id":"5cec77be.ec0b08","type":"ui_template","z":"334d1826.ccec08","group":"ff838880.f77c28","name":"Wind2","order":1,"width":"4","height":"4","format":"<!--\npass msg.payload.degrees, msg.payload.speed, msg.payload.speed_unit\n-->\n<script>\n    // Watch the incoming message and convert the degrees to a human readable compass direction\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n            if(typeof(msg) === \"object\"){\n                // Convert the degrees to cardinal directions\n                var deg = msg.payload.degrees;\n                var dirs = [\"N\",\"NNE\",\"NE\",\"ENE\",\"E\",\"ESE\",\"SE\",\"SSE\",\"S\",\"SSW\",\"SW\",\"WSW\",\"W\",\"WNW\",\"NW\",\"NNW\",\"N\"];\n                var idx = Math.round(deg*(dirs.length-1)/360);\n                scope.direction = dirs[idx];\n                \n                \n                // Keep track of the highest speed value, giving it 40 as a rough starting point.\n                // Works okay for MPH and KTS, but KMH will show purple at a lower speed than the rest\n                scope.max_val = (msg.payload.speed > scope.max_val ? msg.payload.speed : 40);\n                \n                scope.p_speed = msg.payload.speed;\n                scope.p_max_val = scope.max_val;\n                var low_colors = [\n                    '#FFFFFF', // white\n                    '#d6f7ff', // light blue\n                    '#85ffd2', // blue green\n                    '#61ff6e' // green 10mph\n                    ];\n                var high_colors = [\n                    '#61ff6e', // green 10mph\n                    '#d5ff61', // green yellow\n                    '#fffc61', // yellow\n                    '#ffe561', // yellow orange 20mph\n                    '#ffcd61', // orange\n                    '#ffad61', // orange red\n                    '#ff7661', // red\n                    '#ff61dd', // red purple\n                    '#e261ff' // purple\n                ];\n                \n                if(msg.payload.speed <= 5){\n                    scope.color = low_colors[Math.round(msg.payload.speed*(low_colors.length-1)/10)];\n                }else{\n                    scope.color = high_colors[Math.round(msg.payload.speed*(high_colors.length-1) / scope.max_val)];\n                }\n                \n                //$(\".compass_container\").css(\"background-color\",scope.color);\n            }\n    \t});\n    })(scope);\n    \n    // Hacks to improve the layout and make it scale\n    $(document).ready(function(){\n        setTimeout(function () {\n            // Remove the auto scrolling from the parent node\n            $(\".compass_container\").parent().css(\"overflow\",\"hidden\");\n        \n            // Adjust the color to match the theme base color by looking up the toolbar header background color;\n            $(\".compass_container .triangle\").css(\"border-bottom-color\",$(\"md-toolbar\").css(\"background-color\"));\n        \n            // Scale the compass into the box that it's being rendered in\n            // This CSS hack helps make sure the line & font size scales appropriately\n            // Based on the node's grid size\n            $(\".compass_container\").each(function(k,v){\n                var scaleWidth = $(v).parent().width() / $(v).width();\n                var scaleHeight = $(v).parent().height() / $(v).height();\n        \n                var translateX = ($(v).width() - $(v).parent().width()) / 2;\n                var translateY = ($(v).height() - $(v).parent().height()) / 2;\n        \n                $(v).css(\"transform\",\"translate(-\"+translateX+\"px,-\"+translateY+\"px) scale(\"+scaleWidth+\",\"+scaleHeight+\") \");\n            });\n            \n            $(\".compass_container\").css(\"display\",\"block\"); // Unhide it now that it's resized\n        }, 1000);\n    });\n</script>\n<style>\n /*   @import url(https://fonts.googleapis.com/css?family=Dosis:200,400,500,600);\n   */  \n     .compass_container{\n        transition: 1s ease-in-out;\n        position: relative;\n        display: none;\n        width: 500px;\n        height: 500px;\n        border-radius: 100%;\n        font-family: 'Dosis';\n        font-size: 80px;\n        box-shadow: inset 0px 0px 0px 30px #777; \n        background-color: {{color}};\n     }\n     \n     .compass_container .compass_header{\n        font-weight: bold;\n        position: absolute;\n        text-align: center;\n        width: 100%;\n        font-size: 75%;\n        top: -15px\n     }\n     .compass_container .text_container{\n        height: 100%;\n        width: 100%;\n        padding: 0px;\n        display: block;\n        border-radius: 100%;\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n     }\n     \n     .compass_container .arrow{\n        transition: 1s ease-in-out;\n        width: 100%;\n        height: 100%;\n        display: block;\n        position: absolute;\n        top: 0;\n     }\n     \n     .compass_container .arrow .triangle{\n        width: 0;\n\t\theight: 0;\n\t\tborder-left: 45px solid transparent;\n\t\tborder-right: 45px solid transparent;\n\t\tborder-bottom: 90px solid black;\n\t\tposition: absolute;\n\t\ttop: -15px;\n\t\tleft: 50%;\n\t\tmargin-left: -45px;\n\t\tz-index: 99;\n     }\n</style>\n\n<div class=\"compass_container\" style=\"\">\n    <div class=\"compass_header\">N</div>\n  \n    <div class=\"nr-dashboard-text text_container\">\n\n        <div class=\"direction\" style=\"font-size: 100%\">{{msg.payload.degrees}}</div>\n  \n        <div style=\"flex-direction: row; font-weight: bold;\">\n            <span style=\"font-size: 100%\">{{msg.payload.speed}}</span>\n            <span style=\"font-size: 55%\">{{msg.payload.speed_unit}}</span>\n        </div>\n    </div>\n    <div class=\"arrow\" style=\"transform: rotate({{msg.payload.degrees}}deg);\">\n      <div class=\"triangle\"></div>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":610,"y":700,"wires":[[]]},{"id":"82b5a079.5e5ae","type":"ui_template","z":"334d1826.ccec08","group":"ff838880.f77c28","name":"Wind2","order":1,"width":"4","height":"4","format":"<!--\npass msg.payload.degrees, msg.payload.speed, msg.payload.speed_unit\n-->\n<script>\n    // Watch the incoming message and convert the degrees to a human readable compass direction\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n            if(typeof(msg) === \"object\"){\n                // Convert the degrees to cardinal directions\n                var deg = msg.payload.degrees;\n                var dirs = [\"N\",\"NNE\",\"NE\",\"ENE\",\"E\",\"ESE\",\"SE\",\"SSE\",\"S\",\"SSW\",\"SW\",\"WSW\",\"W\",\"WNW\",\"NW\",\"NNW\",\"N\"];\n                var idx = Math.round(deg*(dirs.length-1)/360);\n                scope.direction = dirs[idx];\n                \n                \n                // Keep track of the highest speed value, giving it 40 as a rough starting point.\n                // Works okay for MPH and KTS, but KMH will show purple at a lower speed than the rest\n                scope.max_val = (msg.payload.speed > scope.max_val ? msg.payload.speed : 40);\n                \n                scope.p_speed = msg.payload.speed;\n                scope.p_max_val = scope.max_val;\n                var low_colors = [\n                    '#FFFFFF', // white\n                    '#d6f7ff', // light blue\n                    '#85ffd2', // blue green\n                    '#61ff6e' // green 10mph\n                    ];\n                var high_colors = [\n                    '#61ff6e', // green 10mph\n                    '#d5ff61', // green yellow\n                    '#fffc61', // yellow\n                    '#ffe561', // yellow orange 20mph\n                    '#ffcd61', // orange\n                    '#ffad61', // orange red\n                    '#ff7661', // red\n                    '#ff61dd', // red purple\n                    '#e261ff' // purple\n                ];\n                \n                if(msg.payload.speed <= 5){\n                    scope.color = low_colors[Math.round(msg.payload.speed*(low_colors.length-1)/10)];\n                }else{\n                    scope.color = high_colors[Math.round(msg.payload.speed*(high_colors.length-1) / scope.max_val)];\n                }\n                \n                //$(\".compass_container\").css(\"background-color\",scope.color);\n            }\n    \t});\n    })(scope);\n    \n    // Hacks to improve the layout and make it scale\n    $(document).ready(function(){\n        setTimeout(function () {\n            // Remove the auto scrolling from the parent node\n            $(\".compass_container\").parent().css(\"overflow\",\"hidden\");\n        \n            // Adjust the color to match the theme base color by looking up the toolbar header background color;\n            $(\".compass_container .triangle\").css(\"border-bottom-color\",$(\"md-toolbar\").css(\"background-color\"));\n        \n            // Scale the compass into the box that it's being rendered in\n            // This CSS hack helps make sure the line & font size scales appropriately\n            // Based on the node's grid size\n            $(\".compass_container\").each(function(k,v){\n                var scaleWidth = $(v).parent().width() / $(v).width();\n                var scaleHeight = $(v).parent().height() / $(v).height();\n        \n                var translateX = ($(v).width() - $(v).parent().width()) / 2;\n                var translateY = ($(v).height() - $(v).parent().height()) / 2;\n        \n                $(v).css(\"transform\",\"translate(-\"+translateX+\"px,-\"+translateY+\"px) scale(\"+scaleWidth+\",\"+scaleHeight+\") \");\n            });\n            \n            $(\".compass_container\").css(\"display\",\"block\"); // Unhide it now that it's resized\n        }, 1000);\n    });\n</script>\n<style>\n /*   @import url(https://fonts.googleapis.com/css?family=Dosis:200,400,500,600);\n   */  \n     .compass_container{\n        transition: 1s ease-in-out;\n        position: relative;\n        display: none;\n        width: 500px;\n        height: 500px;\n        border-radius: 100%;\n        font-family: 'Dosis';\n        font-size: 80px;\n        box-shadow: inset 0px 0px 0px 30px #777; \n        background-color: {{color}};\n     }\n     \n     .compass_container .compass_header{\n        font-weight: bold;\n        position: absolute;\n        text-align: center;\n        width: 100%;\n        font-size: 75%;\n        top: -15px\n     }\n     .compass_container .text_container{\n        height: 100%;\n        width: 100%;\n        padding: 0px;\n        display: block;\n        border-radius: 100%;\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n     }\n     \n     .compass_container .arrow{\n        transition: 1s ease-in-out;\n        width: 100%;\n        height: 100%;\n        display: block;\n        position: absolute;\n        top: 0;\n     }\n     \n     .compass_container .arrow .triangle{\n        width: 0;\n\t\theight: 0;\n\t\tborder-left: 45px solid transparent;\n\t\tborder-right: 45px solid transparent;\n\t\tborder-bottom: 90px solid black;\n\t\tposition: absolute;\n\t\ttop: -15px;\n\t\tleft: 50%;\n\t\tmargin-left: -45px;\n\t\tz-index: 99;\n     }\n</style>\n\n<div class=\"compass_container\" style=\"\">\n    <div class=\"compass_header\">N</div>\n  \n    <div class=\"nr-dashboard-text text_container\">\n\n        <div class=\"direction\" style=\"font-size: 100%\">{{msg.payload.degrees}}</div>\n  \n        <div style=\"flex-direction: row; font-weight: bold;\">\n            <span style=\"font-size: 100%\">{{msg.payload.speed}}</span>\n            <span style=\"font-size: 55%\">{{msg.payload.speed_unit}}</span>\n        </div>\n    </div>\n    <div class=\"arrow\" style=\"transform: rotate({{msg.payload.degrees}}deg);\">\n      <div class=\"triangle\"></div>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":610,"y":760,"wires":[[]]},{"id":"25f58df8.3274e2","type":"ui_template","z":"334d1826.ccec08","group":"ff838880.f77c28","name":"Wind2","order":1,"width":"4","height":"4","format":"<!--\npass msg.payload.degrees, msg.payload.speed, msg.payload.speed_unit\n-->\n<script>\n    // Watch the incoming message and convert the degrees to a human readable compass direction\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n            if(typeof(msg) === \"object\"){\n                // Convert the degrees to cardinal directions\n                var deg = msg.payload.degrees;\n                var dirs = [\"N\",\"NNE\",\"NE\",\"ENE\",\"E\",\"ESE\",\"SE\",\"SSE\",\"S\",\"SSW\",\"SW\",\"WSW\",\"W\",\"WNW\",\"NW\",\"NNW\",\"N\"];\n                var idx = Math.round(deg*(dirs.length-1)/360);\n                scope.direction = dirs[idx];\n                \n                \n                // Keep track of the highest speed value, giving it 40 as a rough starting point.\n                // Works okay for MPH and KTS, but KMH will show purple at a lower speed than the rest\n                scope.max_val = (msg.payload.speed > scope.max_val ? msg.payload.speed : 40);\n                \n                scope.p_speed = msg.payload.speed;\n                scope.p_max_val = scope.max_val;\n                var low_colors = [\n                    '#FFFFFF', // white\n                    '#d6f7ff', // light blue\n                    '#85ffd2', // blue green\n                    '#61ff6e' // green 10mph\n                    ];\n                var high_colors = [\n                    '#61ff6e', // green 10mph\n                    '#d5ff61', // green yellow\n                    '#fffc61', // yellow\n                    '#ffe561', // yellow orange 20mph\n                    '#ffcd61', // orange\n                    '#ffad61', // orange red\n                    '#ff7661', // red\n                    '#ff61dd', // red purple\n                    '#e261ff' // purple\n                ];\n                \n                if(msg.payload.speed <= 5){\n                    scope.color = low_colors[Math.round(msg.payload.speed*(low_colors.length-1)/10)];\n                }else{\n                    scope.color = high_colors[Math.round(msg.payload.speed*(high_colors.length-1) / scope.max_val)];\n                }\n                \n                //$(\".compass_container\").css(\"background-color\",scope.color);\n            }\n    \t});\n    })(scope);\n    \n    // Hacks to improve the layout and make it scale\n    $(document).ready(function(){\n        setTimeout(function () {\n            // Remove the auto scrolling from the parent node\n            $(\".compass_container\").parent().css(\"overflow\",\"hidden\");\n        \n            // Adjust the color to match the theme base color by looking up the toolbar header background color;\n            $(\".compass_container .triangle\").css(\"border-bottom-color\",$(\"md-toolbar\").css(\"background-color\"));\n        \n            // Scale the compass into the box that it's being rendered in\n            // This CSS hack helps make sure the line & font size scales appropriately\n            // Based on the node's grid size\n            $(\".compass_container\").each(function(k,v){\n                var scaleWidth = $(v).parent().width() / $(v).width();\n                var scaleHeight = $(v).parent().height() / $(v).height();\n        \n                var translateX = ($(v).width() - $(v).parent().width()) / 2;\n                var translateY = ($(v).height() - $(v).parent().height()) / 2;\n        \n                $(v).css(\"transform\",\"translate(-\"+translateX+\"px,-\"+translateY+\"px) scale(\"+scaleWidth+\",\"+scaleHeight+\") \");\n            });\n            \n            $(\".compass_container\").css(\"display\",\"block\"); // Unhide it now that it's resized\n        }, 1000);\n    });\n</script>\n<style>\n /*   @import url(https://fonts.googleapis.com/css?family=Dosis:200,400,500,600);\n   */  \n     .compass_container{\n        transition: 1s ease-in-out;\n        position: relative;\n        display: none;\n        width: 500px;\n        height: 500px;\n        border-radius: 100%;\n        font-family: 'Dosis';\n        font-size: 80px;\n        box-shadow: inset 0px 0px 0px 30px #777; \n        background-color: {{color}};\n     }\n     \n     .compass_container .compass_header{\n        font-weight: bold;\n        position: absolute;\n        text-align: center;\n        width: 100%;\n        font-size: 75%;\n        top: -15px\n     }\n     .compass_container .text_container{\n        height: 100%;\n        width: 100%;\n        padding: 0px;\n        display: block;\n        border-radius: 100%;\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n     }\n     \n     .compass_container .arrow{\n        transition: 1s ease-in-out;\n        width: 100%;\n        height: 100%;\n        display: block;\n        position: absolute;\n        top: 0;\n     }\n     \n     .compass_container .arrow .triangle{\n        width: 0;\n\t\theight: 0;\n\t\tborder-left: 45px solid transparent;\n\t\tborder-right: 45px solid transparent;\n\t\tborder-bottom: 90px solid black;\n\t\tposition: absolute;\n\t\ttop: -15px;\n\t\tleft: 50%;\n\t\tmargin-left: -45px;\n\t\tz-index: 99;\n     }\n</style>\n\n<div class=\"compass_container\" style=\"\">\n    <div class=\"compass_header\">N</div>\n  \n    <div class=\"nr-dashboard-text text_container\">\n\n        <div class=\"direction\" style=\"font-size: 100%\">{{msg.payload.degrees}}</div>\n  \n        <div style=\"flex-direction: row; font-weight: bold;\">\n            <span style=\"font-size: 100%\">{{msg.payload.speed}}</span>\n            <span style=\"font-size: 55%\">{{msg.payload.speed_unit}}</span>\n        </div>\n    </div>\n    <div class=\"arrow\" style=\"transform: rotate({{msg.payload.degrees}}deg);\">\n      <div class=\"triangle\"></div>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":650,"y":860,"wires":[[]]},{"id":"bcb3b5a.0abfb48","type":"ui_table","z":"7515ead2.7f3e74","group":"2a6ad140.e5bc4e","name":"Polar chart","order":10,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":600,"y":220,"wires":[]},{"id":"1ef1da62.8005c6","type":"function","z":"7515ead2.7f3e74","name":"","func":"var d = [\n    {\n        \"True W\": \"6\",\n        \"Apprnt W\": \"5.3\",\n        \"Target speed\": \"4.2\",\n        \"Apprnt Ang\": \"28\",\n        \"Trg spd DownW\": \"4.1\",\n        \"Apprnt Ang 2\": \"100\",\n        \"Recip Ang\": \"80\"\n    },\n    {\n        \"True W\": \"8\",\n        \"Apprnt W\": \"14.3\",\n        \"Target speed\": \"5.5\",\n        \"Apprnt Ang\": \"29\",\n        \"Trg spd DownW\": \"4.9\",\n        \"Apprnt Ang 2\": \"114\",\n        \"Recip Ang\": \"66\"\n    }\n]\nmsg.payload = d;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["bcb3b5a.0abfb48"]]},{"id":"7cf746d4.1e6398","type":"inject","z":"7515ead2.7f3e74","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["1ef1da62.8005c6"]]},{"id":"4409784c.dba248","type":"ui_table","z":"7515ead2.7f3e74","group":"2a6ad140.e5bc4e","name":"UpWind Polar Speed chart","order":11,"width":10,"height":8,"columns":[{"field":"n","title":"True WindSpeed","width":"10","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"a","title":"8 Knots","width":"10","align":"left","formatter":"progress","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":670,"y":418,"wires":[]},{"id":"bfdb090e.8a7ce8","type":"function","z":"7515ead2.7f3e74","name":"","func":"var d = [\n    {\n        \"n\":\"A\",\n        \"a\": Math.random()*100\n    },\n    {\n        \"n\":\"B\",\n        \"a\": Math.random()*100\n    }\n]\nmsg.payload = d;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":418,"wires":[["4409784c.dba248"]]},{"id":"b31df291.ecde3","type":"ui_ui_control","z":"7515ead2.7f3e74","name":"","x":150,"y":418,"wires":[["351d6274.8221de"]]},{"id":"351d6274.8221de","type":"trigger","z":"7515ead2.7f3e74","op1":"","op2":"8","op1type":"nul","op2type":"num","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"topic","name":"","x":320,"y":418,"wires":[["bfdb090e.8a7ce8"]]},{"id":"6d05e5d6.9d668c","type":"ui_template","z":"7515ead2.7f3e74","group":"2a6ad140.e5bc4e","name":"CSS: ui-table","order":12,"width":0,"height":0,"format":"<style>\n\n/* Tabelle selbst formatieren*/\n\n  .tabulator{padding-left:2px;border:0px solid #BBB;background-color:#202529;font-size:18px}\n\n/* Header formatieren */\n  .tabulator .tabulator-header{border-bottom:1px solid #BBB;background-color:#202529}\n  .tabulator-col-content{background-color:#202529;height:37px}\n  .tabulator .tabulator-header .tabulator-col{border-right:0px solid #aaa;background-color:#202529}\n  .tabulator-arrow{visibility: collapse;}\n  .tabulator .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {padding-right: 2px;}\n\n/* Zellen formatieren*/\n  .tabulator-row{min-height:31px;background-color:#181c1f}\n  .tabulator-row:nth-child(2n){background-color:#202529}\n  .tabulator-row .tabulator-cell{border-right:0px solid #888; padding-top: 4px;}\n\n\n</style>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":390,"y":480,"wires":[[]]},{"id":"44791239.7ef9fc","type":"function","z":"334d1826.ccec08","name":"Start","func":"   msg.payload = { \"name\":\"Start\",\"layer\":\"OSM\", \"lat\":30.6494444, \"lon\":-95.11416666666666\n  }\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["a142e56.a478918"]]},{"id":"474f9edd.1fab9","type":"function","z":"334d1826.ccec08","name":"MD NE","func":"   msg.payload = { \"name\":\"MD NE\",\"layer\":\"OSM\", \"lat\":30.73, \"lon\":-95.13555555555556, icon:\"globe\"}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["a142e56.a478918"]]},{"id":"9426e12e.8cb1a","type":"ui_button","z":"334d1826.ccec08","name":"","group":"4aa472e4.630c6c","order":7,"width":0,"height":0,"passthru":false,"label":"Add MC","tooltip":"","color":"","bgcolor":"","icon":"","payload":"go","payloadType":"str","topic":"","x":100,"y":160,"wires":[["44791239.7ef9fc","474f9edd.1fab9","6614036b.94160c"]]},{"id":"6614036b.94160c","type":"function","z":"334d1826.ccec08","name":"MC SE","func":"   msg.payload = { \"Reach\":\"MC SE\",\"layer\":\"OSM\", \"lat\":30.7980556, \"lon\":-95.175, icon:\"globe\"}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["a142e56.a478918"]]},{"id":"be41ea6f.23b7a8","type":"ui_switch","z":"f7ce205d.4da6e","name":"","label":"Timer","tooltip":"","group":"14a39131.7e41af","order":7,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":302.5,"y":605.7500171661377,"wires":[["1d66fd10.c23803"]]},{"id":"24c895ad.393bda","type":"debug","z":"f7ce205d.4da6e","name":"toMyTimerF","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":712.5,"y":606.7500171661377,"wires":[]},{"id":"1d66fd10.c23803","type":"function","z":"f7ce205d.4da6e","name":"Get global time settings","func":"// Need to change the on to\n// { \"payload\": \"on\", \"timeout\": 69, \"warning\": 10 }\n\nif(msg.payload == \"on\") {\n    msg.payload = { \n        \"payload\": \"on\", \n        \"timeout\": global.get('timerMin'),\n        \"warning\": global.get('warningMin')\n    };\n} else {\n    msg.payload = {  \"payload\": \"off\" };\n}\nreturn msg;","outputs":1,"noerr":0,"x":488.5,"y":605.7500171661377,"wires":[["24c895ad.393bda","7069fa94.1eb3c4"]]},{"id":"7069fa94.1eb3c4","type":"mytimeout","z":"f7ce205d.4da6e","name":"My Timeout","outtopic":"","outsafe":"on","outwarning":"warning","outunsafe":"off","warning":"5","timer":"30","ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":702.5,"y":666.7500171661377,"wires":[["d9503604.efee38"],["c2e658c3.4cafd8"]]},{"id":"dc20ec2.8cbd71","type":"mytimeout","z":"f7ce205d.4da6e","name":"","outtopic":"2nd","outsafe":"","outwarning":"Warning","outunsafe":"off","warning":"60","timer":"600","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":330,"y":300,"wires":[[],["761a4356.e3d67c","d0f4db5a.ed2ed8","9a8593a5.9789f"]]},{"id":"d0f4db5a.ed2ed8","type":"ui_gauge","z":"f7ce205d.4da6e","name":"","group":"14a39131.7e41af","order":4,"width":0,"height":0,"gtype":"gage","title":"2nd minute timer","label":"seconds","format":"{{value}}","min":0,"max":"600","colors":["#b50016","#e6e600","#3eca38"],"seg1":"60","seg2":"120","x":570,"y":260,"wires":[],"inputLabels":["5min"]},{"id":"761a4356.e3d67c","type":"ui_text","z":"f7ce205d.4da6e","group":"14a39131.7e41af","order":6,"width":0,"height":0,"name":"","label":"Final Minute","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":320,"wires":[]},{"id":"3e06f332.9269ac","type":"ui_slider","z":"f7ce205d.4da6e","name":"","label":"Seconds on Clock","tooltip":"","group":"14a39131.7e41af","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"600","step":1,"x":130,"y":240,"wires":[["dc20ec2.8cbd71"]]},{"id":"9a8593a5.9789f","type":"debug","z":"f7ce205d.4da6e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":420,"wires":[]},{"id":"562303e5.ea3f1c","type":"debug","z":"f7ce205d.4da6e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":180,"wires":[]},{"id":"4b72e110.5cbb3","type":"ui_numeric","z":"f7ce205d.4da6e","name":"","label":"numeric","tooltip":"","group":"1181ca60.90f0a6","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"600","step":1,"x":400,"y":1480,"wires":[["37c69e9e.c03c12"]]},{"id":"3248425f.0113ce","type":"ui_slider","z":"f7ce205d.4da6e","name":"","label":"slider","tooltip":"","group":"1181ca60.90f0a6","order":5,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":0,"max":"600","step":1,"x":240,"y":1500,"wires":[["4b72e110.5cbb3"]]},{"id":"37c69e9e.c03c12","type":"ui_gauge","z":"f7ce205d.4da6e","name":"","group":"1181ca60.90f0a6","order":6,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"555","x":560,"y":1500,"wires":[]},{"id":"6be3a0dd.6f1a","type":"function","z":"f7ce205d.4da6e","name":"","func":"\nvar value  = context.get('value') || 60000;\n\nif (msg.topic == \"value\")\n{\n  value = msg.payload * 60000;\n  context.set('value',value);  \n}\n\nelse if (msg.topic == \"start\")\n{\n\nvar timer = setTimeout(function(){msg.payload = \"now\";node.send([msg,{ payload: \"Ende\" }]);var countdownstop  = context.get('countdown');clearInterval(countdownstop)},value);\ncontext.set('timer',timer); \n\nvar count = value/60000;\n//count = count -1 ;\nmsg.payload=count;\nnode.send([null,msg]);\nvar countdown = setInterval(function() {count=count-1;msg.payload=count; node.send([null,msg]) }, 60000);\ncontext.set('countdown',countdown);\n\n}\n\nelse if (msg.topic == \"stop\")\n{\nvar timerstop  = context.get('timer')\nclearTimeout(timerstop);\n\nvar countdownstop  = context.get('countdown')\nclearInterval(countdownstop);\n\n}\n\n\n","outputs":"2","noerr":0,"x":330,"y":1600,"wires":[["9b1f098e.d91478"],["1ee5a5b0.3c487a"]]},{"id":"9b1f098e.d91478","type":"debug","z":"f7ce205d.4da6e","name":"","active":true,"console":"false","complete":"payload","x":510,"y":1560,"wires":[]},{"id":"247ed5a9.df8a6a","type":"ui_button","z":"f7ce205d.4da6e","name":"","group":"8872d4d6.359a88","order":0,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start","x":110,"y":1580,"wires":[["6be3a0dd.6f1a"]]},{"id":"4d7f23e4.efc1cc","type":"ui_numeric","z":"f7ce205d.4da6e","name":"","label":"Minuten","tooltip":"","group":"8872d4d6.359a88","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"value","format":"{{value}}","min":"1","max":"300","step":1,"x":100,"y":1660,"wires":[["6be3a0dd.6f1a"]]},{"id":"843775da.e93688","type":"ui_button","z":"f7ce205d.4da6e","name":"","group":"8872d4d6.359a88","order":1,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"stop","x":110,"y":1620,"wires":[["6be3a0dd.6f1a"]]},{"id":"1ee5a5b0.3c487a","type":"ui_text","z":"f7ce205d.4da6e","group":"8872d4d6.359a88","order":3,"width":0,"height":0,"name":"","label":"Restzeit","format":"{{msg.payload}} Minuten","layout":"row-spread","x":520,"y":1620,"wires":[]},{"id":"3d89cf4f.791ad","type":"change","z":"334d1826.ccec08","name":"","rules":[{"t":"set","p":"payload.speed","pt":"msg","to":"payload.speed","tot":"msg"},{"t":"set","p":"payload.degrees","pt":"msg","to":"payload.bearing","tot":"msg"},{"t":"set","p":"payload.speed_unit","pt":"msg","to":"payload.bearing","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":460,"wires":[["cd20d1dc.cc343","3de62cb0.01cef4"]]},{"id":"cd20d1dc.cc343","type":"ui_template","z":"334d1826.ccec08","group":"c8c77245.0d7f6","name":"Wind2","order":1,"width":4,"height":4,"format":"<!--\npass msg.payload.degrees, msg.payload.speed, msg.payload.speed_unit\n-->\n<script>\n    // Watch the incoming message and convert the degrees to a human readable compass direction\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n            if(typeof(msg) === \"object\"){\n                // Convert the degrees to cardinal directions\n                var deg = msg.payload.degrees;\n                var dirs = [\"N\",\"NNE\",\"NE\",\"ENE\",\"E\",\"ESE\",\"SE\",\"SSE\",\"S\",\"SSW\",\"SW\",\"WSW\",\"W\",\"WNW\",\"NW\",\"NNW\",\"N\"];\n                var idx = Math.round(deg*(dirs.length-1)/360);\n                scope.direction = dirs[idx];\n                \n                \n                // Keep track of the highest speed value, giving it 40 as a rough starting point.\n                // Works okay for MPH and KTS, but KMH will show purple at a lower speed than the rest\n                scope.max_val = (msg.payload.speed > scope.max_val ? msg.payload.speed : 40);\n                \n                scope.p_speed = msg.payload.speed;\n                scope.p_max_val = scope.max_val;\n                var low_colors = [\n                    '#FFFFFF', // white\n                    '#d6f7ff', // light blue\n                    '#85ffd2', // blue green\n                    '#61ff6e' // green 10mph\n                    ];\n                var high_colors = [\n                    '#61ff6e', // green 10mph\n                    '#d5ff61', // green yellow\n                    '#fffc61', // yellow\n                    '#ffe561', // yellow orange 20mph\n                    '#ffcd61', // orange\n                    '#ffad61', // orange red\n                    '#ff7661', // red\n                    '#ff61dd', // red purple\n                    '#e261ff' // purple\n                ];\n                \n                if(msg.payload.speed <= 5){\n                    scope.color = low_colors[Math.round(msg.payload.speed*(low_colors.length-1)/10)];\n                }else{\n                    scope.color = high_colors[Math.round(msg.payload.speed*(high_colors.length-1) / scope.max_val)];\n                }\n                \n                //$(\".compass_container\").css(\"background-color\",scope.color);\n            }\n    \t});\n    })(scope);\n    \n    // Hacks to improve the layout and make it scale\n    $(document).ready(function(){\n        setTimeout(function () {\n            // Remove the auto scrolling from the parent node\n            $(\".compass_container\").parent().css(\"overflow\",\"hidden\");\n        \n            // Adjust the color to match the theme base color by looking up the toolbar header background color;\n            $(\".compass_container .triangle\").css(\"border-bottom-color\",$(\"md-toolbar\").css(\"background-color\"));\n        \n            // Scale the compass into the box that it's being rendered in\n            // This CSS hack helps make sure the line & font size scales appropriately\n            // Based on the node's grid size\n            $(\".compass_container\").each(function(k,v){\n                var scaleWidth = $(v).parent().width() / $(v).width();\n                var scaleHeight = $(v).parent().height() / $(v).height();\n        \n                var translateX = ($(v).width() - $(v).parent().width()) / 2;\n                var translateY = ($(v).height() - $(v).parent().height()) / 2;\n        \n                $(v).css(\"transform\",\"translate(-\"+translateX+\"px,-\"+translateY+\"px) scale(\"+scaleWidth+\",\"+scaleHeight+\") \");\n            });\n            \n            $(\".compass_container\").css(\"display\",\"block\"); // Unhide it now that it's resized\n        }, 1000);\n    });\n</script>\n<style>\n /*   @import url(https://fonts.googleapis.com/css?family=Dosis:200,400,500,600);\n   */  \n     .compass_container{\n        transition: 1s ease-in-out;\n        position: relative;\n        display: none;\n        width: 500px;\n        height: 500px;\n        border-radius: 100%;\n        font-family: 'Dosis';\n        font-size: 80px;\n        box-shadow: inset 0px 0px 0px 30px #777; \n        background-color: {{color}};\n     }\n     \n     .compass_container .compass_header{\n        font-weight: bold;\n        position: absolute;\n        text-align: center;\n        width: 100%;\n        font-size: 75%;\n        top: -15px\n     }\n     .compass_container .text_container{\n        height: 100%;\n        width: 100%;\n        padding: 0px;\n        display: block;\n        border-radius: 100%;\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n     }\n     \n     .compass_container .arrow{\n        transition: 1s ease-in-out;\n        width: 100%;\n        height: 100%;\n        display: block;\n        position: absolute;\n        top: 0;\n     }\n     \n     .compass_container .arrow .triangle{\n        width: 0;\n\t\theight: 0;\n\t\tborder-left: 45px solid transparent;\n\t\tborder-right: 45px solid transparent;\n\t\tborder-bottom: 90px solid black;\n\t\tposition: absolute;\n\t\ttop: -15px;\n\t\tleft: 50%;\n\t\tmargin-left: -45px;\n\t\tz-index: 99;\n     }\n</style>\n\n<div class=\"compass_container\" style=\"\">\n    <div class=\"compass_header\">N</div>\n  \n    <div class=\"nr-dashboard-text text_container\">\n\n        <div class=\"direction\" style=\"font-size: 100%\">{{msg.payload.degrees}}</div>\n  \n        <div style=\"flex-direction: row; font-weight: bold;\">\n            <span style=\"font-size: 100%\">{{msg.payload.speed}}</span>\n            <span style=\"font-size: 55%\">{{msg.payload.speed_unit}}</span>\n        </div>\n    </div>\n    <div class=\"arrow\" style=\"transform: rotate({{msg.payload.degrees}}deg);\">\n      <div class=\"triangle\"></div>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":590,"y":460,"wires":[[]]},{"id":"45b3796a.ee8bb8","type":"ui_slider","z":"7515ead2.7f3e74","name":"","label":"Wind From","tooltip":"","group":"c8c77245.0d7f6","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"365","step":1,"x":170,"y":540,"wires":[["2236cd56.280ca2"]]},{"id":"2236cd56.280ca2","type":"ui_text","z":"7515ead2.7f3e74","group":"c8c77245.0d7f6","order":7,"width":0,"height":0,"name":"","label":"Wind From","format":"{{msg.payload}}","layout":"col-center","x":390,"y":540,"wires":[]},{"id":"fc011d37.0d346","type":"comment","z":"334d1826.ccec08","name":"Livingston Dam","info":"","x":80,"y":840,"wires":[]},{"id":"c139763e.5c5978","type":"comment","z":"334d1826.ccec08","name":"GPS Speed to Polar page","info":"","x":130,"y":460,"wires":[]},{"id":"fd30a180.1477a","type":"comment","z":"7515ead2.7f3e74","name":"Mark Wind Direction","info":"","x":130,"y":500,"wires":[]},{"id":"fcb8e181.65972","type":"function","z":"7515ead2.7f3e74","name":"build Up Wind array (2)","func":"var arr =[[6,9.3,4.2,28],[8,10.5,5.3,28],[10,14.3,5.5,29],[12,16.5,5.6,30],[14,18.5,5.7,31],[16,20.5,5.8,32],[20,24.5,5.8,34]];\n\n\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["6773e940.a87618"]]},{"id":"3bcc9e75.4df072","type":"debug","z":"7515ead2.7f3e74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":100,"wires":[]},{"id":"6773e940.a87618","type":"ui_template","z":"7515ead2.7f3e74","group":"2a6ad140.e5bc4e","name":"Up Wind Polar","order":2,"width":6,"height":6,"format":"<table id=\"table\" border=\"1\">\n <tr>\n <th>True Wind</th>\n <th>Apparent Wind</th> \n <th>Target Speed</th>\n <th>Apparent Wind Angle</th>\n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":560,"y":100,"wires":[["3bcc9e75.4df072"]]},{"id":"e8f09368.b6a3a","type":"ui_numeric","z":"7515ead2.7f3e74","name":"","label":"Knots","tooltip":"","group":"2a6ad140.e5bc4e","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"20","step":1,"x":110,"y":40,"wires":[["fcb8e181.65972","bb7da46a.41b5c8"]]},{"id":"bb7da46a.41b5c8","type":"function","z":"7515ead2.7f3e74","name":"build down Wind array (2)","func":"var arrdown =[[6,4.1,100,80],[8,4.9,114,66],[10,14.3,5.5,29],[12,16.5,5.6,30],[14,18.5,5.7,30],[16,20.5,5.8,32],[20,24.5,5.8,34]];\n\n\nmsg.payload = arrdown;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":160,"wires":[["978fc388.6e2b"]]},{"id":"978fc388.6e2b","type":"ui_template","z":"7515ead2.7f3e74","group":"2a6ad140.e5bc4e","name":"Down Wind Polar","order":2,"width":6,"height":6,"format":"<table id=\"tabled\" border=\"1\">\n <tr>\n <th>True Wind</th>\n <th>Target Speed</th> \n <th>Apparent Wind Angle</th>\n  <th>Recip Angle</th>\n  </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":550,"y":160,"wires":[[]]},{"id":"9dc4b24a.f4a24","type":"inject","z":"334d1826.ccec08","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"x":330,"y":540,"wires":[["d938bcbc.d127c"]]},{"id":"1aa97d08.a0fe13","type":"ui_template","z":"334d1826.ccec08","group":"ff838880.f77c28","name":"Wind","order":1,"width":"4","height":"4","format":"<!--\npass msg.payload.degrees, msg.payload.speed, msg.payload.speed_unit\n-->\n<script>\n    // Watch the incoming message and convert the degrees to a human readable compass direction\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n            if(typeof(msg) === \"object\"){\n                // Convert the degrees to cardinal directions\n                var deg = msg.payload.degrees;\n                var dirs = [\"N\",\"NNE\",\"NE\",\"ENE\",\"E\",\"ESE\",\"SE\",\"SSE\",\"S\",\"SSW\",\"SW\",\"WSW\",\"W\",\"WNW\",\"NW\",\"NNW\",\"N\"];\n                var idx = Math.round(deg*(dirs.length-1)/360);\n                scope.direction = dirs[idx];\n                \n                \n                // Keep track of the highest speed value, giving it 40 as a rough starting point.\n                // Works okay for MPH and KTS, but KMH will show purple at a lower speed than the rest\n                scope.max_val = (msg.payload.speed > scope.max_val ? msg.payload.speed : 40);\n                \n                scope.p_speed = msg.payload.speed;\n                scope.p_max_val = scope.max_val;\n                var low_colors = [\n                    '#FFFFFF', // white\n                    '#d6f7ff', // light blue\n                    '#85ffd2', // blue green\n                    '#61ff6e' // green 10mph\n                    ];\n                var high_colors = [\n                    '#61ff6e', // green 10mph\n                    '#d5ff61', // green yellow\n                    '#fffc61', // yellow\n                    '#ffe561', // yellow orange 20mph\n                    '#ffcd61', // orange\n                    '#ffad61', // orange red\n                    '#ff7661', // red\n                    '#ff61dd', // red purple\n                    '#e261ff' // purple\n                ];\n                \n                if(msg.payload.speed <= 10){\n                    scope.color = low_colors[Math.round(msg.payload.speed*(low_colors.length-1)/10)];\n                }else{\n                    scope.color = high_colors[Math.round(msg.payload.speed*(high_colors.length-1) / scope.max_val)];\n                }\n                \n                //$(\".compass_container\").css(\"background-color\",scope.color);\n            }\n    \t});\n    })(scope);\n    \n    // Hacks to improve the layout and make it scale\n    $(document).ready(function(){\n        setTimeout(function () {\n            // Remove the auto scrolling from the parent node\n            $(\".compass_container\").parent().css(\"overflow\",\"hidden\");\n        \n            // Adjust the color to match the theme base color by looking up the toolbar header background color;\n            $(\".compass_container .triangle\").css(\"border-bottom-color\",$(\"md-toolbar\").css(\"background-color\"));\n        \n            // Scale the compass into the box that it's being rendered in\n            // This CSS hack helps make sure the line & font size scales appropriately\n            // Based on the node's grid size\n            $(\".compass_container\").each(function(k,v){\n                var scaleWidth = $(v).parent().width() / $(v).width();\n                var scaleHeight = $(v).parent().height() / $(v).height();\n        \n                var translateX = ($(v).width() - $(v).parent().width()) / 2;\n                var translateY = ($(v).height() - $(v).parent().height()) / 2;\n        \n                $(v).css(\"transform\",\"translate(-\"+translateX+\"px,-\"+translateY+\"px) scale(\"+scaleWidth+\",\"+scaleHeight+\") \");\n            });\n            \n            $(\".compass_container\").css(\"display\",\"block\"); // Unhide it now that it's resized\n        }, 1000);\n    });\n</script>\n<style>\n     @import url(https://fonts.googleapis.com/css?family=Dosis:200,400,500,600);\n     \n     .compass_container{\n        transition: 1s ease-in-out;\n        position: relative;\n        display: none;\n        width: 500px;\n        height: 500px;\n        border-radius: 100%;\n        font-family: 'Dosis';\n        font-size: 80px;\n        box-shadow: inset 0px 0px 0px 30px #777; \n        background-color: {{color}};\n     }\n     \n     .compass_container .compass_header{\n        font-weight: bold;\n        position: absolute;\n        text-align: center;\n        width: 100%;\n        font-size: 75%;\n        top: -15px\n     }\n     .compass_container .text_container{\n        height: 100%;\n        width: 100%;\n        padding: 0px;\n        display: block;\n        border-radius: 100%;\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n     }\n     \n     .compass_container .arrow{\n        transition: 1s ease-in-out;\n        width: 100%;\n        height: 100%;\n        display: block;\n        position: absolute;\n        top: 0;\n     }\n     \n     .compass_container .arrow .triangle{\n        width: 0;\n\t\theight: 0;\n\t\tborder-left: 45px solid transparent;\n\t\tborder-right: 45px solid transparent;\n\t\tborder-bottom: 90px solid black;\n\t\tposition: absolute;\n\t\ttop: -15px;\n\t\tleft: 50%;\n\t\tmargin-left: -45px;\n\t\tz-index: 99;\n     }\n</style>\n\n<div class=\"compass_container\" style=\"\">\n    <div class=\"compass_header\">N</div>\n  \n    <div class=\"nr-dashboard-text text_container\">\n    \n        <div class=\"direction\" style=\"font-size: 120%\">{{direction}}</div>\n        <div style=\"flex-direction: row; font-weight: bold;\">\n            <span style=\"font-size: 100%\">{{msg.payload.speed}}</span>\n            <span style=\"font-size: 75%\">{{msg.payload.speed_unit}}</span>\n        </div>\n    </div>\n    <div class=\"arrow\" style=\"transform: rotate({{msg.payload.degrees}}deg);\">\n      <div class=\"triangle\"></div>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":650,"y":540,"wires":[[]]},{"id":"d938bcbc.d127c","type":"function","z":"334d1826.ccec08","name":"","func":"var msg = {\n    \"payload\": {\n        \"speed\":Math.round(Math.random() * 60),\n        \"speed_unit\":\"MPH\",\n        \"degrees\":Math.round(Math.random() * 360)\n        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":540,"wires":[["1aa97d08.a0fe13"]]},{"id":"276e49f7.3e35f6","type":"inject","z":"334d1826.ccec08","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"x":210,"y":1080,"wires":[["4b541766.2dd198"]]},{"id":"22533aa2.ac4506","type":"ui_template","z":"334d1826.ccec08","group":"ff838880.f77c28","name":"Wind","order":1,"width":"4","height":"4","format":"<!--\npass msg.payload.degrees, msg.payload.speed, msg.payload.speed_unit\n-->\n<script>\n    // Watch the incoming message and convert the degrees to a human readable compass direction\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n            if(typeof(msg) === \"object\"){\n                // Convert the degrees to cardinal directions\n                var deg = msg.payload.degrees;\n                var dirs = [\"N\",\"NNE\",\"NE\",\"ENE\",\"E\",\"ESE\",\"SE\",\"SSE\",\"S\",\"SSW\",\"SW\",\"WSW\",\"W\",\"WNW\",\"NW\",\"NNW\",\"N\"];\n                var idx = Math.round(deg*(dirs.length-1)/360);\n                scope.direction = dirs[idx];\n                \n                \n                // Keep track of the highest speed value, giving it 40 as a rough starting point.\n                // Works okay for MPH and KTS, but KMH will show purple at a lower speed than the rest\n                scope.max_val = (msg.payload.speed > scope.max_val ? msg.payload.speed : 40);\n                \n                scope.p_speed = msg.payload.speed;\n                scope.p_max_val = scope.max_val;\n                var low_colors = [\n                    '#FFFFFF', // white\n                    '#d6f7ff', // light blue\n                    '#85ffd2', // blue green\n                    '#61ff6e' // green 10mph\n                    ];\n                var high_colors = [\n                    '#61ff6e', // green 10mph\n                    '#d5ff61', // green yellow\n                    '#fffc61', // yellow\n                    '#ffe561', // yellow orange 20mph\n                    '#ffcd61', // orange\n                    '#ffad61', // orange red\n                    '#ff7661', // red\n                    '#ff61dd', // red purple\n                    '#e261ff' // purple\n                ];\n                \n                if(msg.payload.speed <= 10){\n                    scope.color = low_colors[Math.round(msg.payload.speed*(low_colors.length-1)/10)];\n                }else{\n                    scope.color = high_colors[Math.round(msg.payload.speed*(high_colors.length-1) / scope.max_val)];\n                }\n                \n                //$(\".compass_container\").css(\"background-color\",scope.color);\n            }\n    \t});\n    })(scope);\n    \n    // Hacks to improve the layout and make it scale\n    $(document).ready(function(){\n        setTimeout(function () {\n            // Remove the auto scrolling from the parent node\n            $(\".compass_container\").parent().css(\"overflow\",\"hidden\");\n        \n            // Adjust the color to match the theme base color by looking up the toolbar header background color;\n            $(\".compass_container .triangle\").css(\"border-bottom-color\",$(\"md-toolbar\").css(\"background-color\"));\n        \n            // Scale the compass into the box that it's being rendered in\n            // This CSS hack helps make sure the line & font size scales appropriately\n            // Based on the node's grid size\n            $(\".compass_container\").each(function(k,v){\n                var scaleWidth = $(v).parent().width() / $(v).width();\n                var scaleHeight = $(v).parent().height() / $(v).height();\n        \n                var translateX = ($(v).width() - $(v).parent().width()) / 2;\n                var translateY = ($(v).height() - $(v).parent().height()) / 2;\n        \n                $(v).css(\"transform\",\"translate(-\"+translateX+\"px,-\"+translateY+\"px) scale(\"+scaleWidth+\",\"+scaleHeight+\") \");\n            });\n            \n            $(\".compass_container\").css(\"display\",\"block\"); // Unhide it now that it's resized\n        }, 1000);\n    });\n</script>\n<style>\n     @import url(https://fonts.googleapis.com/css?family=Dosis:200,400,500,600);\n     \n     .compass_container{\n        transition: 1s ease-in-out;\n        position: relative;\n        display: none;\n        width: 500px;\n        height: 500px;\n        border-radius: 100%;\n        font-family: 'Dosis';\n        font-size: 80px;\n        box-shadow: inset 0px 0px 0px 30px #777; \n        background-color: {{color}};\n     }\n     \n     .compass_container .compass_header{\n        font-weight: bold;\n        position: absolute;\n        text-align: center;\n        width: 100%;\n        font-size: 75%;\n        top: -15px\n     }\n     .compass_container .text_container{\n        height: 100%;\n        width: 100%;\n        padding: 0px;\n        display: block;\n        border-radius: 100%;\n        display: flex;\n        flex-direction: column;\n        justify-content: center;\n        align-items: center;\n     }\n     \n     .compass_container .arrow{\n        transition: 1s ease-in-out;\n        width: 100%;\n        height: 100%;\n        display: block;\n        position: absolute;\n        top: 0;\n     }\n     \n     .compass_container .arrow .triangle{\n        width: 0;\n\t\theight: 0;\n\t\tborder-left: 45px solid transparent;\n\t\tborder-right: 45px solid transparent;\n\t\tborder-bottom: 90px solid black;\n\t\tposition: absolute;\n\t\ttop: -15px;\n\t\tleft: 50%;\n\t\tmargin-left: -45px;\n\t\tz-index: 99;\n     }\n</style>\n\n<div class=\"compass_container\" style=\"\">\n    <div class=\"compass_header\">N</div>\n  \n    <div class=\"nr-dashboard-text text_container\">\n    \n        <div class=\"direction\" style=\"font-size: 120%\">{{direction}}</div>\n        <div style=\"flex-direction: row; font-weight: bold;\">\n            <span style=\"font-size: 100%\">{{msg.payload.speed}}</span>\n            <span style=\"font-size: 75%\">{{msg.payload.speed_unit}}</span>\n        </div>\n    </div>\n    <div class=\"arrow\" style=\"transform: rotate({{msg.payload.degrees}}deg);\">\n      <div class=\"triangle\"></div>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":510,"y":1080,"wires":[[]]},{"id":"4b541766.2dd198","type":"function","z":"334d1826.ccec08","name":"","func":"var msg = {\n    \"payload\": {\n        \"speed\":Math.round(Math.random() * 60),\n        \"speed_unit\":\"MPH\",\n        \"degrees\":Math.round(Math.random() * 360)\n        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1080,"wires":[["22533aa2.ac4506"]]},{"id":"3de62cb0.01cef4","type":"debug","z":"334d1826.ccec08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":480,"wires":[]},{"id":"815f6f24.6aa54","type":"ui_gauge","z":"b48968fd.25e848","name":"","group":"cd39ac02.7f4f","order":3,"width":0,"height":0,"gtype":"gage","title":"Wind","label":"Knots","format":"{{value| number:2}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":560,"wires":[]},{"id":"60826ade.15d694","type":"ui_numeric","z":"b48968fd.25e848","name":"","label":"Heading to Mark","tooltip":"","group":"e32981ff.eb2e6","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"markh","format":"{{value}}","min":0,"max":10,"step":1,"x":350,"y":307,"wires":[["5f7620ce.56761","f8307231.c27a2"]]},{"id":"92b8b9a7.f5a388","type":"ui_numeric","z":"b48968fd.25e848","name":"","label":"GPS Heading","tooltip":"","group":"e32981ff.eb2e6","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"gpsh","format":"{{payload.bearing}","min":0,"max":10,"step":1,"x":350,"y":247,"wires":[["5f7620ce.56761"]]},{"id":"e6a2e68c.4a3018","type":"ui_numeric","z":"b48968fd.25e848","name":"","label":"Difference","tooltip":"","group":"e32981ff.eb2e6","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":350,"y":360,"wires":[[]]},{"id":"684b4cc3.c9c434","type":"ui_gauge","z":"b48968fd.25e848","name":"","group":"a8f33373.9e35","order":1,"width":0,"height":0,"gtype":"donut","title":"Degree off Wind","label":"degs","format":"{{value}}","min":"0","max":"180","colors":["#b50b00","#00e635","#ca3838"],"seg1":"33","seg2":"41","x":620,"y":360,"wires":[]},{"id":"ce360595.ad72d8","type":"ui_button","z":"b48968fd.25e848","name":"","group":"cd39ac02.7f4f","order":4,"width":0,"height":0,"passthru":false,"label":"South Mark","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":740,"wires":[["e4e89de9.f5693"]]},{"id":"886ca523.3bdf88","type":"ui_button","z":"b48968fd.25e848","name":"","group":"e32981ff.eb2e6","order":4,"width":0,"height":0,"passthru":false,"label":"North Mark","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"num","topic":"","x":350,"y":740,"wires":[["93540c6c.50619"]]},{"id":"65098a6c.31df84","type":"ui_button","z":"b48968fd.25e848","name":"","group":"a8f33373.9e35","order":10,"width":0,"height":0,"passthru":false,"label":"Start/Finish","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":570,"y":740,"wires":[["8351b14d.d1158"]]},{"id":"c3382ee3.178d2","type":"debug","z":"334d1826.ccec08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":380,"wires":[]},{"id":"5f6bfdfc.ae1ad4","type":"ui_template","z":"b48968fd.25e848","group":"a8f33373.9e35","name":"Time","order":1,"width":6,"height":2,"format":"<script>\n    var icon=\"T\";\n\n        \n    var colours={\n    \"blackOnGreen\" : {items:[\"#222\",\"#66ac66\"]},\n    \"blackOnBlue\" : {items:[\"#222\",\"#8888ff\"]},\n    \"redOnWhite\" : {items:[\"#255\",\"#aaaaaa\"]},\n    }  \n    \n    var daylist = [\"sun\", \"mon\", \"tue\", \"wed\", \"thu\", \"fri\", \"sat\"];\n    (function(scope){ \n            scope.$watch('msg', function(msg) {\n               if (typeof(msg.type) != \"undefined\") icon=msg.type;\n    \n               if (icon==\"t\")\n                    {\n                        $(\"#DSEGWEATHER-BACK\").text(\" \");\n                        $(\"#DSEGWEATHER-ICON\").text(\" \");\n                        $(\"#DSEGTempcF\").text(\"C\");\n                        $(\"#DSEGTempcB\").text(\"8\");                        \n                        if (typeof(msg.payload) != \"undefined\") { $(\"#DSEGTempF\").text(msg.payload);  $(\"#DSEGTempB\").text(\"88\"); }\n                    }\n                else\n                    {\n                        $(\"#DSEGTempF\").text(\"\");\n                        $(\"#DSEGTempcF\").text(\"\");\n                        $(\"#DSEGTempB\").text(\"\");\n                        $(\"#DSEGTempcB\").text(\"\");\n                        $(\"#DSEGWEATHER-BACK\").text(\"0\");\n                        if (typeof(msg.payload) != \"undefined\") $(\"#DSEGWEATHER-ICON\").text(msg.payload);\n                        \n                    }\n               if (typeof(msg.colour) != \"undefined\") {\n                              $(\".Clock-Wrapper\").css('background-color', colours[msg.colour].items[1]);  $(\".lcdClock\").css('color', colours[msg.colour].items[0]); \n                              if (colours[msg.colour].items[1]==\"#000000\") $(\".background\").css('color',\"rgba(255,255,255,0.15)\"); else  $(\".background\").css('color',\"rgba(0,0,0,0.1)\");\n                        }\n            });\n    })(scope);\n\n    function genTimerStrings(tm, num){\n    \n    \tvar i;\n    \tvar ret = tm.toString(10);\n    \tvar left = ret.length;\n    \n    \tif( left < num){\n    \t\tfor(i=0; i<( num - left ); i++ ){\n    \t\t\tret = String(0) + ret;\n    \t\t}\n    \t}\n    \treturn ret;\n    }\n\n    function updateTimer(){\n    \tvar ret;\n    \tvar date = new Date();\n    \tvar tm_year, tm_mon, tm_date, tm_hour, tm_min, tm_sec, tm_msec,tm_day;\n    \tvar colon;\n    \ttm_year = date.getFullYear();\n    \ttm_mon = date.getMonth()+1;\n    \ttm_date = date.getDate();\n    \ttm_day = date.getDay();\n    \ttm_hour = date.getHours();\n    \ttm_min = date.getMinutes();\n    \ttm_sec = date.getSeconds();\n    \ttm_msec = date.getMilliseconds();\n    \n    \ttm_mon = genTimerStrings(tm_mon, 2);\n    \ttm_date = genTimerStrings(tm_date, 2);\n    \ttm_hour = genTimerStrings(tm_hour, 2);\n    \ttm_min = genTimerStrings(tm_min, 2);\n    \ttm_sec = genTimerStrings(tm_sec, 2);\n    \ttm_day = daylist[tm_day];\n    \n    \tif( tm_msec > 499 ){\n    \t\tcolon = ' ';\n    \t}else{\n    \t\tcolon = ':';\n    \t}\n    \n    \tdocument.getElementById(\"DSEGClock\").innerHTML = tm_hour + colon + tm_min + \"<span style=\\\"font-size:30px;\\\">\"  + tm_sec + \"</span>\";\n    \tdocument.getElementById(\"DSEGClock-Year\").innerHTML = \"<span class=\\\"D7MI\\\">\" + tm_year + \"-\" + tm_mon + \"-\" + tm_date + ' ' + \"</span><span class=\\\"D14MI\\\">\" + tm_day  +  \".\" + \"</span>\";\n    \n    \tsetTimeout(\"updateTimer()\", 500 - date.getMilliseconds()%500 );\n    }\n\n    updateTimer();\n    \n</script>\n\n<style type=\"text/css\">\n.lcdClock {\n\tbackground-color:#fbfbfb;\n\tfont-size:100%;\n\tpadding-left:10px;\n\tpadding-right:10px;\n\tpadding-bottom:10px;\n\tmax-width:300px;\n\tline-height:160%;\n\tcolor:#222;\n\tfont-family:Meiryo, 'Lucida Grande','Hiragino Kaku Gothic ProN', sans-serif;\n}\n\n@font-face {\n  font-family: \"D7MI\";\n  src: url(\"/myfonts/DSEG7Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D14MI\";\n  src: url(\"/myfonts/DSEG14Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D7MBI\";\n  src: url(\"/myfonts/DSEG7Modern-BoldItalic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"DWEATHER\";\n  src: url(\"/myfonts/DSEGWeather.woff\") format('woff');\n}\n\n.Weather-Background{\n\tz-index:50;\n\tposition:absolute;\n\ttop:24px;\n\tleft:226px;\n\tfont-size:68px;\n}\n\n.Weather-Front{\n\tz-index:51;\n\tposition:absolute;\n\ttop:24px;\n\tleft:226px;\n\tfont-size:68px;\n}\n\n.D7MI {\nfont-family: \"D7MI\";\n}\n\n.D7MBI {\nfont-family: \"D7MBI\";\n}\n\n.D14MI {\nfont-family: \"D14MI\";\n}\n\n.DWEATHER {\nfont-family: \"DWEATHER\";\nfont-size:68px;\nheight:68px;\n}\n\n.Clock-Wrapper{\n\tposition:relative;\n\tborder:6px solid #000;\n\tborder-radius:9px;\n\theight:68px;\n\twidth:280px;\n\tbackground-color:#fb7c00;\n\tbackground-color:#66ac66;\n\tbox-shadow: 4px 4px 28px 0px rgba(0,0,0,0.3) inset; \n}\n\n.Clock-Time-Background{\n\tz-index:50;\n}\n\n.Clock-Time-Front{\n\tz-index:51;\n}\n\n.Clock-Time-Background,.Clock-Time-Front {\n   \tposition:absolute;\n\ttop:38px;\n\tleft:5px; \n\tfont-size:42px;\n}\n\n.background { color:rgba(0,0,0,0.1); }\n\n.Clock-Year-Background{\n\tz-index:50;\n\tfont-size:18px;\n}\n\n.Clock-Year-Front{\n\tz-index:51;\n}\n\n.Clock-Year-Background,.Clock-Year-Front {\n   \tposition:absolute;\n\ttop:2px;\n\tleft:5px; \n\tfont-size:18px;\n}\n\n.temp { z-index:51; }\n.tempBack { z-index:50; color:rgba(0,0,0,0.1); }\n.temp,.tempBack {\n   \tposition:absolute;\n\ttop:28px;\n\tleft:210px; \n\tfont-size:42px;\n}\n\n.tempc { z-index:51; }\n.tempcBack { z-index:50;  }\n.tempc,.tempcBack {\n   \tposition:absolute;\n\ttop:36px;\n\tleft:278px; \n\tfont-size:24px;\n}\n\n#DSEG7_OUTPUT{\n\tfont-family: \"D7MI\";\n}\n\n#DSEG14_OUTPUT{\n\tfont-family: \"D14MI\";\n}\n\n#DSEG14_OUTPUT, #DSEG7_OUTPUT{\n\tfont-size:18px;\n\tmargin-top:2px;\n\tmargin-bottom:10px;\n}\n\n</style>\n\n\n<div class=\"Clock-Wrapper center lcdClock\">\n\t<span class=\"Clock-Time-Background background  D7MBI\">88:88<span style=\"font-size:30px;\">88</span></span>\n\t<span id=\"DSEGClock\" class=\"Clock-Time-Front D7MBI\"></span>\n\t<span class=\"Clock-Year-Background background\"><span class=\"D7MI\">2088-88-88</span><span class=\"D14MI\"> ~~~</span></span>\n\t<span id=\"DSEGClock-Year\" class=\"Clock-Year-Front\"></span>\n\t\n\t<span id=\"DSEGTempF\" class=\"temp D7MBI\">00</span>\n\t<span id=\"DSEGTempB\" class=\"tempBack background D7MBI\">88</span>\t\n\t<span id=\"DSEGTempcF\" class=\"tempc D7MI\">C</span>\n\t<span id=\"DSEGTempcB\" class=\"tempcBack background D7MI\">8</span>\n\t\n\t\n\t<span id=\"DSEGWEATHER-BACK\" class=\"Weather-Background background DWEATHER\"></span>\n\t<span id=\"DSEGWEATHER-ICON\" class=\"Weather-Front DWEATHER\"></span>\n\t\t\n</div>\n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":750,"y":280,"wires":[[]]},{"id":"c2fd751c.df9478","type":"ui_switch","z":"f7ce205d.4da6e","name":"blue","label":"White","tooltip":"","group":"1181ca60.90f0a6","order":10,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"blackOnWhite","onvalueType":"str","onicon":"","oncolor":"","offvalue":"blackOnWhite","offvalueType":"str","officon":"","offcolor":"","x":650,"y":680,"wires":[[]]},{"id":"2b485a48.119056","type":"ui_switch","z":"b48968fd.25e848","name":"red","label":"Red","tooltip":"","group":"a8f33373.9e35","order":10,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"redOnWhite","onvalueType":"str","onicon":"","oncolor":"","offvalue":"redOnWhite","offvalueType":"str","officon":"","offcolor":"","x":750,"y":220,"wires":[["5f6bfdfc.ae1ad4"]]},{"id":"4a13ddce.ee8504","type":"serial in","z":"b48968fd.25e848","name":"Ublox GPS","serial":"8585d999.c25e88","x":80,"y":40,"wires":[["c1f2fb4c.e07898"]]},{"id":"f3441d58.d7e5b","type":"function","z":"b48968fd.25e848","name":"convert lat long","func":"// Converts Lat and Long\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n\n\nvar GLL = msg.payload.split(',');\n\n//    msg.payload.class = RMC[0];\nmsg.payload = {\n    lat : GLL[1],\n    ns : GLL[2],\n    long : GLL[3],\n    ew : GLL[4],\n    time : GLL[5],\n    //iconColor : \"blue\",\n\t//icon : \"ship\",\n    //layer : \"OSM\",\n    //popped: true,\n    //label : true\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":120,"wires":[["65990451.8d447c"]]},{"id":"65990451.8d447c","type":"debug","z":"b48968fd.25e848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":100,"wires":[]},{"id":"5a7ccaa2.e4a074","type":"debug","z":"b48968fd.25e848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":60,"wires":[]},{"id":"c056e852.715218","type":"debug","z":"b48968fd.25e848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":20,"wires":[]},{"id":"8351b14d.d1158","type":"function","z":"b48968fd.25e848","name":"Start","func":"   msg.payload = { \"name\":\"Start\",\"layer\":\"OSM\", \"lat\":30.6494444, \"lon\":-95.11416666666666\n  }\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":800,"wires":[[]]},{"id":"93540c6c.50619","type":"function","z":"b48968fd.25e848","name":"MD NE","func":"   msg.payload = { \"name\":\"MD NE\",\"layer\":\"OSM\", \"lat\":30.73, \"lon\":-95.13555555555556, icon:\"globe\"}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":800,"wires":[[]]},{"id":"e4e89de9.f5693","type":"function","z":"b48968fd.25e848","name":"MC SE","func":"   msg.payload = { \"Reach\":\"MC SE\",\"layer\":\"OSM\", \"lat\":30.7980556, \"lon\":-95.175, icon:\"globe\"}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":800,"wires":[["f186c3e1.496a7"]]},{"id":"505a73cd.44b39c","type":"debug","z":"ea21ee72.12b83","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":120,"wires":[]},{"id":"f186c3e1.496a7","type":"debug","z":"b48968fd.25e848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":873,"wires":[]},{"id":"f84175ad.db0b58","type":"inject","z":"b48968fd.25e848","name":"Fake Wind Direction 162","topic":"windh","payload":"150","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":400,"wires":[["d97f0cfa.e2b21","60826ade.15d694"]]},{"id":"a8d24f88.c118e","type":"inject","z":"b48968fd.25e848","name":"Fake course heading 199","topic":"courseh","payload":"199","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":440,"wires":[["d97f0cfa.e2b21","92b8b9a7.f5a388"]]},{"id":"f8307231.c27a2","type":"debug","z":"b48968fd.25e848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":480,"wires":[]},{"id":"d97f0cfa.e2b21","type":"combine-delta","z":"b48968fd.25e848","topic":"degoffwind","topicA":"windh","topicB":"courseh","name":"Deg off wind delt","x":390,"y":460,"wires":[["1fd0b9da.7e1276"]]},{"id":"1fd0b9da.7e1276","type":"function","z":"b48968fd.25e848","name":"Make positive","func":"var X = msg.payload;\n\n\nmsg.payload = Math.abs(X)\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":420,"wires":[["684b4cc3.c9c434"]]},{"id":"5f7620ce.56761","type":"combine-delta","z":"b48968fd.25e848","topic":"","topicA":"gpsh","topicB":"markh","name":"diff to mark","x":550,"y":260,"wires":[["e6a2e68c.4a3018"]]},{"id":"def8083e.6bffe8","type":"ui_gauge","z":"b48968fd.25e848","name":"GPS Speed","group":"cd39ac02.7f4f","order":1,"width":0,"height":0,"gtype":"gage","title":"GPS Speed","label":"Knots","format":"{{payload.speed}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":130,"y":120,"wires":[]},{"id":"c1f2fb4c.e07898","type":"switch","z":"b48968fd.25e848","name":"RMC, VTG, GLL","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"GPGGA","vt":"str"},{"t":"cont","v":"$GPVTG","vt":"str"},{"t":"cont","v":"$GPGLL","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":60,"wires":[["c056e852.715218"],["5a7ccaa2.e4a074","def8083e.6bffe8","92b8b9a7.f5a388"],["f3441d58.d7e5b"]]},{"id":"ff6b79c9.cddb88","type":"rpi-gpio in","z":"b48968fd.25e848","name":"","pin":"29","intype":"tri","debounce":"25","read":false,"x":110,"y":540,"wires":[["130af6c9.97bfd9"]]},{"id":"130af6c9.97bfd9","type":"msg-speed","z":"b48968fd.25e848","name":"","frequency":"sec","interval":"1","estimation":false,"ignore":false,"x":290,"y":540,"wires":[["4919d526.74c8ac"],[]]},{"id":"4919d526.74c8ac","type":"function","z":"b48968fd.25e848","name":"calc knots from anonometer","func":"\nvar radiusfeet = 0.3125;\nvar windinterval = 1;\nvar windcount = msg.payload;\n\ncircfeet = (2 * 2.14) * radiusfeet;\nrotations = windcount / 2.0;\nwfeetsec = circfeet * rotations;\nmsg.payload = 0.5924838 * wfeetsec;   //convert to knots\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":540,"wires":[["815f6f24.6aa54"]]},{"id":"dd93bc25.3513a","type":"comment","z":"b48968fd.25e848","name":"wind speed from peet bros","info":"","x":110,"y":500,"wires":[]},{"id":"4e6fbc66.744104","type":"comment","z":"b48968fd.25e848","name":"Sets up the marks via push button input","info":"","x":170,"y":700,"wires":[]}]
